{% extends "admin/layout.twig" %}
{% block container %}

  <div class="container-fluid">
    <div class="card mt-3 mb-3">
      <div class="card-header">Cambiar contraseña de usuario:</div>      
      <div class="card-body">
        <form action="{{ data.action }}" method="post">
          <div class="form-group">
              <div class="form-label-group">
                  <input value="{{ data.password_original }}" type="password" id="inputPasswordOriginal" class="form-control" name="inputPasswordOriginal" placeholder="Contraseña Actual" required="required" autofocus="autofocus">
                  <label for="inputPasswordOriginal">Contraseña Actual</label>
              </div>
          </div>
          <div class="form-group">
              <div class="form-label-group">
                  <input value="{{ data.password_nuevo }}" type="password" id="inputPasswordNuevo" class="form-control" name="inputPasswordNuevo" placeholder="Contraseña Nueva" required="required" autofocus="autofocus">
                  <label for="inputPasswordNuevo">Contraseña Nueva</label>
              </div>
          </div>
          <div class="form-group">
              <div class="form-label-group">
                  <input value="{{ data.password_nuevo_repetir }}" type="password" id="inputPasswordRepetir" class="form-control" name="inputPasswordRepetir" placeholder="Repetir Contraseña Nueva" required="required" autofocus="autofocus">
                  <label for="inputPasswordRepetir">Repetir Contraseña Nueva</label>
              </div>
          </div>

          <input type="hidden" name="id" value="{{ data.id }}"/>
          <button type="submit" class="btn btn-primary">Actualizar</button>

        </form>  
      </div>
    </div>
  </div>

{% endblock %}