{% extends "admin/layout.twig" %}
{% block container %}

  <div class="container-fluid">
    <div class="card mt-3 mb-3">
      <div class="card-header">{% if edit %}Editar{% else %}Nuevo{% endif %} Usuario:</div>
      <div class="card-body">
        <form action="{{ data.action }}" method="post">
          <div class="form-group">
            <div class="form-label-group">
              <input value="{{ data.username }}" type="text" id="username" class="form-control" name="username" placeholder="username" required="required" autofocus="autofocus">
              <label for="username">username</label> 
            </div>
          </div>
          <div class="form-group">
            <div class="form-label-group">
              <input value="{{ data.email }}" type="text" id="email" class="form-control" name="email" placeholder="email" required="required" autofocus="autofocus">
              <label for="email">email</label> 
            </div>
          </div>
          <div class="form-group">
            <div class="form-label-group">
              <input value="{{ data.password }}" type="text" id="password" class="form-control" name="password" placeholder="password" required="required" autofocus="autofocus">
              <label for="password">password</label> 
            </div>
          </div>
          <div class="form-group">
            <label for="varchar">role</label>
            <select name="role_id" id="role_id" class="form-control">
              {% for role in data.roles %}
                <option value="{{ role.id }}">{{ role.tipo }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="form-group">
            <div class="form-label-group">
              <input value="{{ data.activo }}" type="text" id="activo" class="form-control" name="activo" placeholder="activo" required="required" autofocus="autofocus">
              <label for="activo">activo</label> 
            </div>
          </div>

          <input type="hidden" name="id" value="{{ data.id }}"/>
          <button type="submit" class="btn btn-success">{% if edit %}Guardar{% else %}Crear{% endif %}</button>

        </form>  
      </div>
    </div>
  </div>

{% endblock %}