{% extends "admin/layout.twig" %}
{% block container %}

  <div class="container-fluid">
    <div class="card mt-3 mb-3">
      <div class="card-header">{% if edit %}Editar{% else %}Nueva{% endif %} Tienda:</div>
      <div class="card-body">
        <form action="{{ data.action }}" method="post">
          <div class="form-group">
            <label for="varchar">usuario</label>
            <select name="usuario_id" id="usuario_id" class="form-control">
              {% for usuario in data.usuarios %}
                <option value="{{ usuario.id }}">{{ usuario.username }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="form-group">
            <div class="form-label-group">
              <input value="{{ data.nombre }}" type="text" id="nombre" class="form-control" name="nombre" placeholder="nombre" required="required" autofocus="autofocus">
              <label for="nombre">nombre</label> 
            </div>
          </div>
          <div class="form-group">
            <div class="form-label-group">
              <input value="{{ data.representante }}" type="text" id="representante" class="form-control" name="representante" placeholder="representante" required="required" autofocus="autofocus">
              <label for="representante">representante</label> 
            </div>
          </div>
          <div class="form-group">
            <div class="form-label-group">
              <input value="{{ data.activo }}" type="text" id="activo" class="form-control" name="activo" placeholder="activo" required="required" autofocus="autofocus">
              <label for="activo">activo</label> 
            </div>
          </div>

          <input type="hidden" name="id" value="{{ data.id }}"/>
          <button type="submit" class="btn btn-success">{% if edit %}Guardar{% else %}Crear{% endif %}</button>

        </form>  
      </div>
    </div>
  </div>

{% endblock %}