{% extends "index/layout.twig" %}

{% block body %}
    <style type="text/css">
        body {
            background-color: #343a40 !important;
        }
    </style>
    <div id="wrapper">
        <div class="container">
            <div class="card card-login mx-auto mt-5 text-center">
                <div class="card-header">Se envio un correo electrónico a la casilla:</div>
                <div class="card-body">
                    <p>"{{ data.email }}"</p>
                    <small>Por cuestiones de seguridad chequeé<br> la bandeja de correos no deseados.</small>
                    <div class="text-center mt-2">
                        <a class="d-block small" href="{{ base_url('login') }}">VOLVER AL INICIO</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
{% endblock %}