{% extends "index/layout.twig" %}

{% block body %}
    <style type="text/css">
        body {
            background-color: #343a40 !important;
        }
    </style>
    <div id="wrapper">
        <div class="container">
            <div class="card card-login mx-auto mt-5">
                <div class="card-header">Inicio de Session</div>
                <div class="card-body">
                    <form action="{{ data.action }}" method="post">
                        <div class="form-group">
                            <div class="form-label-group">
                                <input type="email" id="email" class="form-control" name="email" required="required" autofocus="autofocus">
                                <label for="email">Direccion de Email</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-label-group">
                                <input type="password" id="password" class="form-control" name="password" required="required" autofocus="autofocus">
                                <label for="password">Contraseña</label>
                            </div>
                        </div>
                        {# <div class="form-group">
                            <div class="checkbox">
                                <label>
                                <input type="checkbox" value="remember-me">
                                    Recordar Contraseña?
                                </label>
                            </div>
                        </div> #}
                        <button class="btn btn-primary btn-block" type="submit">Entrar</button>
                    </form>
                    <div class="text-center">
                        <a class="d-block small mt-3" href="{{ base_url('registro') }}">No tiene cuenta? registrese</a>
                        <a class="d-block small" href="{{ base_url('recupero') }}">Olvidaste tú contraseña?</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
{% endblock %}