{% extends "index/layout.twig" %}

{% block body %}
    <style type="text/css">
        body {
            background-color: #343a40 !important;
        }
    </style>
    <div id="wrapper">
        <div class="container">
            <div class="card card-login mx-auto mt-5">
                <div class="card-header">Recuperar Contraseña?</div>
                <div class="card-body">
                    <form action="{{ data.action }}" method="post">
                        <div class="form-group">
                            <div class="form-label-group">
                                <input type="email" id="inputEmail" class="form-control" name="inputEmail" placeholder="Direccion de Email" required="required" autofocus="autofocus">
                                <label for="inputEmail">Direccion de Email</label>
                            </div>
                        </div>
                        <button class="btn btn-warning btn-block" type="submit">Recuperar Contraseña</button>
                    </form>
                    <div class="text-center">
                        <a class="d-block small mt-3" href="{{ base_url('registro') }}">No tiene cuenta? registrese</a>
                        <a class="d-block small" href="{{ base_url('login') }}">Ya se encuentra registrado? INICIO</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
{% endblock %}