{% extends "index/layout.twig" %}
{% block body %}
    <style type="text/css">
        body {
            background-color: #343a40 !important;
        }
    </style>
    <div id="wrapper">
      <div class="container">
        <div class="card mx-auto mt-5 mb-5">
          <div class="card-header">Registro Usuario:</div>
          
             <div class="card-body">
                <form action="{{ data.action }}" method="post">
                    <div class="form-group">
                        <div class="form-label-group">
                            <input value="{{ data.username }}" type="text" id="username" class="form-control" name="username" placeholder="Nombre de Usuario" required="required" autofocus="autofocus">
                            <label for="username">Nombre de Usuario</label> 
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-label-group">
                            <input value="{{ data.email }}" type="email" id="email" class="form-control" name="email" placeholder="Email" required="required" autofocus="autofocus">
                            <label for="email">Email</label> 
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-label-group">
                            <input value="{{ data.password }}" type="password" id="password" class="form-control" name="password" placeholder="Email" required="required" autofocus="autofocus">
                            <label for="password">Contraseña</label>
                        </div>
                    </div>
                    <input type="hidden" name="id" value="{{ data.id }}"/>
                    <button type="submit" class="btn btn-primary">Crear</button>
                    <a href="{{ base_url('') }}" class="btn btn-default">Cancelar</a>
                </form>  
            </div>

        </div>
      </div>
    </div>
{% endblock %}

{% block footer %}
{% endblock %}