{% extends "front/layout.twig" %}

{% block stylesheets %}
{{ parent() }}
<link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>
<style>
	body {
		background-color: #1a1a1a;
	}

  #botonera {
    text-align: center;
		background-color: transparent;
  }

  #botonera ::after, ::before {
    box-sizing: unset !important;
  }

	#botonera span{
		font-weight: bold;
		 font-family: 'Gotham';font-size: 14px;
	}
	#botonera button {
		position: relative !important;
		width: 200px !important;
		height: 100px !important;
		margin-bottom: 2px !important;
		background: none !important;
		border: none !important;
		cursor: pointer !important;
		color: white !important;
		box-sizing: content-box !important;
		border: 1px solid transparent !important;
	}

	#botonera button::before, #botonera button::after, #botonera span::before, #botonera span::after {
		display: block !important;
		content: "" !important;
		width: 16px !important;
		height: 12px;
		position: absolute !important;
	}

	#botonera #btn-eventos::before {
		top: 10px !important;
		left: 20px !important;
		border-top: 25px solid #007bff !important;
		border-left: 25px solid #007bff !important;
		transition: 0.5s all !important;
	}
	#botonera #btn-eventos::after {
		top: 10px !important;
		right: 20px !important;
		border-top: 25px solid #007bff !important;
		border-right: 25px solid #007bff !important;
		transition: 0.5s all !important;
	}
	#botonera #span-eventos::before {
		bottom: 10px !important;
		left: 20px !important;
		border-bottom: 25px solid #007bff !important;
		border-left: 25px solid #007bff !important;
		transition: 0.5s all !important;
	}
	#botonera #span-eventos::after {
		bottom: 10px !important;
		right: 20px !important;
		border-bottom: 25px solid #007bff !important;
		border-right: 25px solid #007bff !important;
		transition: 0.5s all !important;
	}

	#botonera #btn-bar::before {
		top: 10px !important;
		left: 20px !important;
		border-top: 25px solid #20c997 !important;
		border-left: 25px solid #20c997 !important;
		transition: 0.5s all !important;
	}
	#botonera #btn-bar::after {
		top: 10px !important;
		right: 20px !important;
		border-top: 25px solid #20c997 !important;
		border-right: 25px solid #20c997 !important;
		transition: 0.5s all !important;
	}
	#botonera #span-bar::before {
		bottom: 10px !important;
		left: 20px !important;
		border-bottom: 25px solid #20c997 !important;
		border-left: 25px solid #20c997 !important;
		transition: 0.5s all !important;
	}
	#botonera #span-bar::after {
		bottom: 10px !important;
		right: 20px !important;
		border-bottom: 25px solid #20c997 !important;
		border-right: 25px solid #20c997 !important;
		transition: 0.5s all !important;
	}


	#botonera #btn-tienda::before {
		top: 10px !important;
		left: 20px !important;
		border-top: 25px solid #ffc107 !important;
		border-left: 25px solid #ffc107 !important;
		transition: 0.5s all !important;
	}
	#botonera #btn-tienda::after {
		top: 10px !important;
		right: 20px !important;
		border-top: 25px solid #ffc107 !important;
		border-right: 25px solid #ffc107 !important;
		transition: 0.5s all !important;
	}
	#botonera #span-tienda::before {
		bottom: 10px !important;
		left: 20px !important;
		border-bottom: 25px solid #ffc107 !important;
		border-left: 25px solid #ffc107 !important;
		transition: 0.5s all !important;
	}
	#botonera #span-tienda::after {
		bottom: 10px !important;
		right: 20px !important;
		border-bottom: 25px solid #ffc107 !important;
		border-right: 25px solid #ffc107 !important;
		transition: 0.5s all !important;
	}

	#botonera #btn-play::before {
		top: 10px !important;
		left: 20px !important;
		border-top: 25px solid #e83e8c !important;
		border-left: 25px solid #e83e8c !important;
		transition: 0.5s all !important;
	}
	#botonera #btn-play::after {
		top: 10px !important;
		right: 20px !important;
		border-top: 25px solid #e83e8c !important;
		border-right: 25px solid #e83e8c !important;
		transition: 0.5s all !important;
	}
	#botonera #span-play::before {
		bottom: 10px !important;
		left: 20px !important;
		border-bottom: 25px solid #e83e8c !important;
		border-left: 25px solid #e83e8c !important;
		transition: 0.5s all !important;
	}
	#botonera #span-play::after {
		bottom: 10px !important;
		right: 20px !important;
		border-bottom: 25px solid #e83e8c !important;
		border-right: 25px solid #e83e8c !important;
		transition: 0.5s all !important;
	}
	#botonera #btn-come::before {
		top: 10px !important;
		left: 20px !important;
		border-top: 25px solid #2fac66 !important;
		border-left: 25px solid #2fac66 !important;
		transition: 0.5s all !important;
	}
	#botonera #btn-come::after {
		top: 10px !important;
		right: 20px !important;
		border-top: 25px solid #2fac66 !important;
		border-right: 25px solid #2fac66 !important;
		transition: 0.5s all !important;
	}
	#botonera #span-come::before {
		bottom: 10px !important;
		left: 20px !important;
		border-bottom: 25px solid #2fac66;
		border-left: 25px solid #2fac66;
		transition: 0.5s all;
	}
	#botonera #span-come::after {
		bottom: 10px !important;
		right: 20px !important;
		border-bottom: 25px solid #2fac66 !important;
		border-right: 25px solid #2fac66 !important;
		transition: 0.5s all !important;
	}

	#botonera button:hover::before, #botonera button:hover::after {

	  -ms-transform: scale(1.2) !important; /* IE 9 */
	  -webkit-transform: scale(1.2) !important; /* Safari 3-8 */
	  transform: scale(1.2) !important;
		margin-right: -10px !important;
		margin-left: -10px !important;
		margin-top: -5px !important;
	}

	#botonera button:hover span::before, #botonera button:hover span::after {

	  -ms-transform: scale(1.2) !important; /* IE 9 */
	  -webkit-transform: scale(1.2) !important; /* Safari 3-8 */
	  transform: scale(1.2) !important;
		margin-right: -10px !important;
		margin-left: -10px !important;
		margin-top: -5px !important;
	}

	#botonera #top::before {
		top: 10px !important;
		left: 20px !important;
		border-top: 25px solid #2fac66 !important;
		border-left: 25px solid #2fac66 !important;
		transition: 0.5s all !important;
	}
	#botonera #top::after {
		top: 10px !important;
		right: 20px !important;
		border-top: 25px solid #2fac66 !important;
		border-right: 25px solid #2fac66 !important;
		transition: 0.5s all !important;
	}
	#botonera #bottom::before {
		bottom: 10px !important;
		left: 20px !important;
		border-bottom: 25px solid #2fac66 !important;
		border-left: 25px solid #2fac66 !important;
		transition: 0.5s all !important;
	}
	#botonera #bottom::after {
		bottom: 10px !important;
		right: 20px !important;
		border-bottom: 25px solid #2fac66 !important;
		border-right: 25px solid #2fac66 !important;
		transition: 0.5s all !important;
	}


</style>
<script type="text/javascript" src="assets/js/sound-mouseover.js"></script>
{% endblock %}

{% block container %}
      <!-- Portfolio Grid -->
      <section class="bg-dark" id="portfolio" style="padding-bottom: 20px;">
        <div class="row">
          <div class="col-lg-7 ml-4">
            <div class="container" id="botonera">
              <button id="btn-eventos" onclick="playclip();"><span id="span-eventos">PRÓXIMOS<BR>EVENTOS</span></button><br>
              <button id="btn-tienda" onclick="playclip();"><span id="span-tienda">TIENDA</span></button><br>
              <!-- <button id="btn-play" onclick="playclip();"><span id="span-play">PLAY</span></button><br> -->
              <a class="navbar-brand js-scroll-trigger" href="{{ base_url('') }}"><img src="./assets/agency/img/logos/eventzum-logo-mini.png"></a>
              <audio preload="auto">
                <source src="assets/media/load-gun.ogg" type="audio/ogg">
                <source src="assets/media/load-gun.mp3" type="audio/mpeg">
              </audio>
            </div>
          </div>
        </div>
      </section>
      <section class="bg-light" id="portfolio" style="height: 10px; padding: 0px;">
      </section>
      <section class="bg-dark" id="portfolio" style="padding: 20px;">
        <div class="row">
          <div class="col-lg-7 ml-4">
            <div class="container" id="botonera">
              <button id="btn-eventos" onclick="playclip();"><span id="span-eventos">PRÓXIMOS<BR>EVENTOS</span></button><br>
              <button id="btn-bar" onclick="playclip();"><span id="span-bar">BAR</span></button><br>
              <button id="btn-tienda" onclick="playclip();"><span id="span-tienda">TIENDA</span></button><br>
              <!-- <button id="btn-play" onclick="playclip();"><span id="span-play">PLAY</span></button><br> -->
              <a class="navbar-brand js-scroll-trigger" href="{{ base_url('') }}"><img src="./assets/agency/img/logos/eventzum-logo-mini.png"></a>
              <audio preload="auto">
                <source src="assets/media/load-gun.ogg" type="audio/ogg">
                <source src="assets/media/load-gun.mp3" type="audio/mpeg">
              </audio>
            </div>
          </div>
        </div>
      </section>
 
{% endblock %}