{% extends "front/layout.twig" %}

{% block stylesheets %}
{{ parent() }}
<style>
.navbar {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  background-color: #212529 !important;
}
.list-group-item-action {
  background-color: #f8f9fa;
}
.section-subheading {
  font-size: 25px !important;
  margin-bottom: 10px !important;
}
#img-container {
  padding-top: 50px;
}
img {
  border-radius: 50% !important;
}
</style>
{% endblock %}

{% block container %}
      <!-- Portfolio Grid -->
      <section class="bg-light" id="portfolio">
          <div class="row">
            <div class="col-lg-3 ml-4">
              <div class="container">
                <div class="list-group list-group-flush">
                  <a href="{{ base_url('configuracion') }}" class="list-group-item list-group-item-action">Editar Perfil</a>
                  <a href="{{ base_url('configuracion/avatar') }}" class="list-group-item list-group-item-action active">Avatar</a>
                  <a href="{{ base_url('configuracion/cuenta') }}" class="list-group-item list-group-item-action">Cuenta</a>
                  <a href="{{ base_url('configuracion/acceso') }}" class="list-group-item list-group-item-action">Contraseña</a>
                  <a href="{{ base_url('configuracion/pagos') }}" class="list-group-item list-group-item-action">Tus Pagos</a>
                  <a href="{{ base_url('configuracion/metodo_pago') }}" class="list-group-item list-group-item-action">Método de Pago</a>
                </div>
              </div>
            </div>
            <div class="col-lg-7">
              <h2 class="section-heading text-uppercase">Avatar</h2>
              <form action="{{ data.action }}" method="post" enctype="multipart/form-data">
                <div class="row">
                  <div class="col-lg-4">
                    <div class="form-group">
                      <div class="form-label-group">
                        {% if data.perfil_url %}
                          <img id="img-url" src="{{ base_url(data.perfil_url) }}" width="220" height="212">
                        {% else %}
                          <img id="img-perfil" src="" width="220" height="212">
                        {% endif %}
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div id="img-container" class="container">
                      <div class="form-group">
                        <div class="form-label-group">
                          <input type="file" id="avatar_url" name="avatar_url" value="{{ data.avatar_url }}" onchange="previewFile()" />
                          <p>Cambia tu foto de perfil</p>
                          <p>Recuerda subir una imagen <br>de máximo 5MB</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                
                <input type="hidden" name="id" value="{{ data.id }}"/>
                <input type="hidden" name="avatar_file" value="{{ data.avatar_file }}"/>
                <button type="submit" class="btn btn-info">Guardar</button>
              </form>  
            </div>
          </div>
      </section>
    
      <!-- Footer -->
      <footer>
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <span class="copyright">Copyright &copy; Todos los derechos reservados Eventzum 2019</span>
            </div>
            <div class="col-md-4">
              <ul class="list-inline social-buttons">
                <li class="list-inline-item">
                  <a href="#">
                    <i class="fab fa-twitter"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="#">
                    <i class="fab fa-facebook-f"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="#">
                    <i class="fab fa-linkedin-in"></i>
                  </a>
                </li>
              </ul>
            </div>
            <div class="col-md-4">
              <ul class="list-inline quicklinks">
                <li class="list-inline-item">
                  <a href="#">Privacy Policy</a>
                </li>
                <li class="list-inline-item">
                  <a href="#">Terms of Use</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </footer>

  <script>
   function previewFile(){
      var preview = document.querySelector('#img-perfil'); //selects the query named img
      //var url = document.querySelector('#img-url'); //selects the query named img
      var file    = document.querySelector('input[type=file]').files[0]; //sames as here
      var reader  = new FileReader();

      reader.onloadend = function () {
        preview.src = reader.result;
      }
    
      if (file) {
        reader.readAsDataURL(file); //reads the data as a URL
      } else {
        preview.src = "https://via.placeholder.com/212x212";
      }
  }

  previewFile();  //calls the function named previewFile()
  </script>
{% endblock %}