{% extends "front/layout.twig" %}

{% block stylesheets %}
{{ parent() }}
<style>
.navbar {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  background-color: #212529 !important;
}
.list-group-item-action {
  background-color: #f8f9fa;
}
.section-subheading {
  font-size: 15px !important;
  margin-bottom: 10px !important;
}
</style>
{% endblock %}

{% block container %}
      <!-- Portfolio Grid -->
      <section class="bg-light" id="portfolio">
          <div class="row">
            <div class="col-lg-3 ml-4">
              <div class="container">
                <div class="list-group list-group-flush">
                  <a href="{{ base_url('configuracion') }}" class="list-group-item list-group-item-action">Editar Perfil</a>
                  <a href="{{ base_url('configuracion/avatar') }}" class="list-group-item list-group-item-action">Avatar</a>
                  <a href="{{ base_url('configuracion/cuenta') }}" class="list-group-item list-group-item-action">Cuenta</a>
                  <a href="{{ base_url('configuracion/acceso') }}" class="list-group-item list-group-item-action">Contraseña</a>
                  <a href="{{ base_url('configuracion/notificaciones') }}" class="list-group-item list-group-item-action active">Notificaciones</a>
                  <a href="{{ base_url('configuracion/suscripcion') }}" class="list-group-item list-group-item-action">Suscripción</a>
                  <a href="{{ base_url('configuracion/pagos') }}" class="list-group-item list-group-item-action">Tus Pagos</a>
                  <a href="{{ base_url('configuracion/metodo_pago') }}" class="list-group-item list-group-item-action">Método de Pago</a>
                </div>
              </div>
            </div>
            <div class="col-lg-7">
              <h2 class="section-heading text-uppercase">notificaciones</h2>
              <h3 class="section-subheading text-muted">aqui irian las notificaciones configurables de la aplicacion de eventzum.</h3>
              <form action="{{ data.action }}" method="post">
                <div class="row">
                  <div class="col-lg-4">
                    <div class="form-group">
                      <div class="form-label-group">
                        <label for="username">NOTIF 1</label> 
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="form-group">
                      <div class="form-label-group">
                        <label for="username">NOTIF 2</label> 
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="form-group">
                      <div class="form-label-group">
                        <label for="username">NOTIF 3</label> 
                      </div>
                    </div>
                  </div>
                </div>
                
                <input type="hidden" name="id" value="{{ data.id }}"/>
                <button type="submit" class="btn btn-info">Guardar</button>
                <button type="submit" class="btn btn-light">Cancelar</button>
              </form>  
            </div>
          </div>
      </section>
    
      <!-- Footer -->
      <footer>
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <span class="copyright">Copyright &copy; Todos los derechos reservados Eventzum 2019</span>
            </div>
            <div class="col-md-4">
              <ul class="list-inline social-buttons">
                <li class="list-inline-item">
                  <a href="#">
                    <i class="fab fa-twitter"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="#">
                    <i class="fab fa-facebook-f"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="#">
                    <i class="fab fa-linkedin-in"></i>
                  </a>
                </li>
              </ul>
            </div>
            <div class="col-md-4">
              <ul class="list-inline quicklinks">
                <li class="list-inline-item">
                  <a href="#">Privacy Policy</a>
                </li>
                <li class="list-inline-item">
                  <a href="#">Terms of Use</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </footer>
{% endblock %}