{% extends "front/layout.twig" %}

{% block stylesheets %}
{{ parent() }}
<style>
.navbar {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  background-color: #212529 !important;
}
.list-group-item-action {
  background-color: #f8f9fa;
}
.section-subheading {
  font-size: 25px !important;
  margin-bottom: 10px !important;
}
</style>
{% endblock %}

{% block container %}

      <!-- Portfolio Grid -->
      <section class="bg-light" id="portfolio">
          <div class="row">
            <div class="col-lg-3 ml-4">
              <div class="container">
                <div class="list-group list-group-flush">
                  <a href="{{ base_url('configuracion') }}" class="list-group-item list-group-item-action active">Editar Perfil</a>
                  <a href="{{ base_url('configuracion/avatar') }}" class="list-group-item list-group-item-action">Avatar</a>
                  <a href="{{ base_url('configuracion/cuenta') }}" class="list-group-item list-group-item-action">Cuenta</a>
                  <a href="{{ base_url('configuracion/acceso') }}" class="list-group-item list-group-item-action">Contraseña</a>
                  <a href="{{ base_url('configuracion/pagos') }}" class="list-group-item list-group-item-action">Tus Pagos</a>
                  <a href="{{ base_url('configuracion/metodo_pago') }}" class="list-group-item list-group-item-action">Método de Pago</a>
                </div>
              </div>
            </div>
            <div class="col-lg-7">
              <h2 class="section-heading text-uppercase">Editar Perfil</h2>
              <form action="{{ data.action }}" method="post">
                <h3 class="section-subheading text-muted">Requeridos</h3>
                <div class="row">
                  <div class="col-lg-4">
                    <div class="form-group">
                      <div class="form-label-group">
                        <label for="nombre">nombre</label> 
                        <input value="{{ data.nombre }}" type="text" id="nombre" class="form-control" name="nombre" required="required" autofocus="autofocus">
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="form-group">
                      <div class="form-label-group">
                        <label for="apellido">apellido</label> 
                        <input value="{{ data.apellido }}" type="text" id="apellido" class="form-control" name="apellido" required="required" autofocus="autofocus">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-4">
                    <div class="form-group">
                      <div class="form-label-group">
                        <label for="pais">pais</label> 
                        <input value="{{ data.pais }}" type="text" id="pais" class="form-control" name="pais" required="required" autofocus="autofocus">
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="form-group">
                      <div class="form-label-group">
                        <label for="telefono">telefono</label> 
                        <input value="{{ data.telefono }}" type="text" id="telefono" class="form-control" name="telefono" required="required" autofocus="autofocus">
                      </div>
                    </div>
                  </div>
                </div>
                <h3 class="section-subheading text-muted">Opcionales</h3>
                <div class="row">
                  <div class="col-lg-4">
                    <div class="form-group">
                      <div class="form-label-group">
                        <label for="genero">genero</label> 
                        <input value="{{ data.genero }}" type="text" id="genero" class="form-control" name="genero" autofocus="autofocus">
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="form-group">
                      <div class="form-label-group">
                        <label for="fecha_nac">fecha de nacimiento</label> 
                        <input value="{{ data.fecha_nac }}" type="text" id="fecha_nac" class="form-control" name="fecha_nac" autofocus="autofocus">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-4">
                    <div class="form-group">
                      <div class="form-label-group">
                        <label for="profesion">profesion</label> 
                        <input value="{{ data.profesion }}" type="text" id="profesion" class="form-control" name="profesion" autofocus="autofocus">
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="form-group">
                      <div class="form-label-group">
                        <label for="trabajo">trabajo</label> 
                        <input value="{{ data.trabajo }}" type="text" id="trabajo" class="form-control" name="trabajo" autofocus="autofocus">
                      </div>
                    </div>
                  </div>
                </div>
                <h3 class="section-subheading text-muted">Tus redes sociales</h3>
                <div class="row">
                  <div class="col-lg-4">
                    <div class="form-group">
                      <div class="form-label-group">
                        <label for="web_facebook">facebook</label> 
                        <input value="{{ data.web_facebook }}" type="text" id="web_facebook" class="form-control" name="web_facebook" autofocus="autofocus">
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="form-group">
                      <div class="form-label-group">
                        <label for="web_instagram">instagram</label> 
                        <input value="{{ data.web_instagram }}" type="text" id="web_instagram" class="form-control" name="web_instagram" autofocus="autofocus">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-4">
                    <div class="form-group">
                      <div class="form-label-group">
                        <label for="web_behance">behance</label> 
                        <input value="{{ data.web_behance }}" type="text" id="web_behance" class="form-control" name="web_behance" autofocus="autofocus">
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="form-group">
                      <div class="form-label-group">
                        <label for="web_dribbble">dribbble</label> 
                        <input value="{{ data.web_dribbble }}" type="text" id="web_dribbble" class="form-control" name="web_dribbble" autofocus="autofocus">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-4">
                    <div class="form-group">
                      <div class="form-label-group">
                        <label for="web_linkedIn">linkedIn</label> 
                        <input value="{{ data.web_linkedIn }}" type="text" id="web_linkedIn" class="form-control" name="web_linkedIn" autofocus="autofocus">
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="form-group">
                      <div class="form-label-group">
                        <label for="website">página web</label> 
                        <input value="{{ data.website }}" type="text" id="website" class="form-control" name="website" autofocus="autofocus">
                      </div>
                    </div>
                  </div> 
                </div>
                
                <input type="hidden" name="id" value="{{ data.id }}"/>
                <button type="submit" class="btn btn-info">Guardar</button>
                <button class="btn btn-light">Cancelar</button>
              </form>  
            </div>
          </div>
      </section>
    
      <!-- Footer -->
      <footer>
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <span class="copyright">Copyright &copy; Todos los derechos reservados Eventzum 2019</span>
            </div>
            <div class="col-md-4">
              <ul class="list-inline social-buttons">
                <li class="list-inline-item">
                  <a href="#">
                    <i class="fab fa-twitter"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="#">
                    <i class="fab fa-facebook-f"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="#">
                    <i class="fab fa-linkedin-in"></i>
                  </a>
                </li>
              </ul>
            </div>
            <div class="col-md-4">
              <ul class="list-inline quicklinks">
                <li class="list-inline-item">
                  <a href="#">Privacy Policy</a>
                </li>
                <li class="list-inline-item">
                  <a href="#">Terms of Use</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </footer>
{% endblock %}