{% extends "index/layout.twig" %}

{% block body %}
    <div id="wrapper">
        <div class="container">
            <div class="container-fluid">
                <!-- Page Content -->
                <h1 class="display-1">404</h1>
                <p class="lead">Hubo un error inesperado o no se encontro la pagina a la que se intentaba acceder</p>
                <p class="lead"><a href="javascript:history.back()">Volver Atras</a> A la pagina anterior o <a href="index.html">Volver al Inicio</a>.</p>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
{% endblock %}