{% extends "admin/layout.twig" %}
{% block container %}

  <div class="container-fluid">
    <div class="card mt-3 mb-3">
      <div class="card-header">{% if edit %}Editar{% else %}Nueva{% endif %} Empresa:</div>
      <div class="card-body">
        <form action="{{ data.action }}" method="post" enctype="multipart/form-data">
          <div class="form-group">
            <div class="form-label-group">
              {% if empresa_url %}
                <img id="img-url" src="{{ base_url(empresa_url) }}" width="600" height="400">
              {% else %}
                <img id="img-empresa" src="" width="600" height="400">
              {% endif %}
              <input type="file" id="logo_url" name="logo_url" value="{{ data.logo_url }}" onchange="previewFile()" />
            </div>
          </div>
          <div class="form-group">
            <label for="varchar">usuario</label>
            <select name="usuario_id" id="usuario_id" class="form-control">
              {% for usuario in data.usuarios %}
                <option value="{{ usuario.id }}">{{ usuario.username }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="form-group">
            <div class="form-label-group">
              <input value="{{ data.nif }}" type="number" id="nif" class="form-control" name="nif" placeholder="nif" required="required" autofocus="autofocus">
              <label for="nif">nif</label> 
            </div>
          </div>
          <div class="form-group">
            <div class="form-label-group">
              <input value="{{ data.nombre }}" type="text" id="nombre" class="form-control" name="nombre" placeholder="nombre" required="required" autofocus="autofocus">
              <label for="nombre">nombre</label> 
            </div>
          </div>
          <div class="form-group">
            <div class="form-label-group">
              <input value="{{ data.direccion }}" type="text" id="direccion" class="form-control" name="direccion" placeholder="direccion" required="required" autofocus="autofocus">
              <label for="direccion">direccion</label> 
            </div>
          </div>
          <div class="form-group">
            <div class="form-label-group">
              <input value="{{ data.telefono }}" type="number" id="telefono" class="form-control" name="telefono" placeholder="telefono" required="required" autofocus="autofocus">
              <label for="telefono">telefono</label> 
            </div>
          </div>
          <div class="form-group">
            <div class="form-label-group">
              <input value="{{ data.correo }}" type="email" id="correo" class="form-control" name="correo" placeholder="correo" required="required" autofocus="autofocus">
              <label for="correo">correo</label> 
            </div>
          </div>
          <div class="form-group">
            <div class="form-label-group">
              <input value="{{ data.activo }}" type="number" id="activo" class="form-control" name="activo" placeholder="activo" required="required" autofocus="autofocus">
              <label for="activo">activo</label> 
            </div>
          </div>

          <input type="hidden" name="logo_file" value="{{ data.logo_file }}"/>
          <input type="hidden" name="id" value="{{ data.id }}"/>
          <button type="submit" class="btn btn-success">{% if edit %}Guardar{% else %}Crear{% endif %}</button>

        </form>  
      </div>
    </div>
  </div>

{% endblock %}

{% block bodyjavascripts %}

  {{ parent() }}

  <script type="text/javascript">

    function previewFile(){
       var preview = document.querySelector('#img-empresa'); //selects the query named img
      //var url = document.querySelector('#img-url'); //selects the query named img
      var file    = document.querySelector('input[type=file]').files[0]; //sames as here
      var reader  = new FileReader();

      reader.onloadend = function () {
        preview.src = reader.result;
      }

      if (file) {
        reader.readAsDataURL(file); //reads the data as a URL
      } else {
        preview.src = "https://via.placeholder.com/400x600";
      }
    } 

    previewFile();  

  </script>

{% endblock %}