{% extends "admin/layout.twig" %}
{% block container %}
<div class="container-fluid">
  <!-- DataTables Example -->
  <a href="{{ base_url('admin/empresas/nuevo') }}" class="btn btn-primary align-left mt-3">+ Nueva Empresa</a>

  <div class="card mt-3 mb-3">
    <div class="card-header">
      <i class="fas fa-table"></i> Listado de Empresas
    </div>
    <div class="card-body">  
      <table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
        <thead>
          <tr role="row">
            <th>id</th>
            <th>usuario</th>
            <th>nif</th>
            <th>nombre</th>
            <th>direccion</th>
            <th>telefono</th>
            <th>correo</th>
            <th>activo</th>
            <th style="width: 10px;">Acciones</th>
          </tr>
        </thead>
        <tbody>
          {% if entities|length <= 0 %}<h2>Usted no tiene empresas, creé su primera empresa!</h2>{% endif %}
          {% for entity in entities %}
            <tr role="row" class="odd">
              <td class="sorting_1">{{ entity.id }}</td>
              <td class="sorting_1">{{ entity.usuario_id }}</td>
              <td class="sorting_1">{{ entity.nif }}</td>
              <td class="sorting_1">{{ entity.nombre }}</td>
              <td class="sorting_1">{{ entity.direccion }}</td>
              <td class="sorting_1">{{ entity.telefono }}</td>
              <td class="sorting_1">{{ entity.correo }}</td>
              <td class="sorting_1">{{ entity.activo }}</td>
              <th>
                <a class="far fa-edit mr-1 pointer" href="{{ base_url('admin/empresas/editar/' ~ entity.id) }}" rel="tooltip"></a>
                <a class="far fa-trash-alt pointer" href="{{ base_url('admin/empresas/borrar/' ~ entity.id) }}" rel="tooltip"></a>
              </th>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="card-footer">
      <a class="btn btn-primary" href="{{ base_url('admin/empresas/nuevo') }}">+ Nueva Empresa</a>
    </div>
  </div>
</div>
{% endblock %}