{% extends "front/layout.twig" %}
{% block container %}
<!-- Header -->
<header class="masthead">
  <div class="container">
    <div class="intro-text">
      <div class="intro-lead-in">Bienvenido!!!</div>
      <div class="intro-heading text-uppercase">Adiós colas</div>
      <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#services">Hoy, mañana y siempre</a>
    </div>
  </div>
</header>

      <!-- Portfolio Grid -->
      <section class="bg-light" id="portfolio">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 text-center">
              <h2 class="section-heading text-uppercase">Eventos</h2>
              <h3 class="section-subheading text-muted">nuestros eventos disponibles.</h3>
            </div>
          </div>
          <div class="row">

              {% for evento in eventos %}
              <div class="col-md-4 col-sm-6 portfolio-item">
                <a class="portfolio-link" data-toggle="modal" href="#portfolioModal{{ evento.id }}">
                  <div class="portfolio-hover">
                    <div class="portfolio-hover-content">
                      <i class="fas fa-plus fa-3x"></i>
                    </div>
                  </div>
                  {% if evento.imagen_url %}
                    <img class="img-fluid" src="{{ base_url(evento.imagen_url) }}" style="width: 350px; height: 320px;" alt="">
                  {% else %}
                    <img class="img-fluid" src="https://via.placeholder.com/350x320" style="width: 350px; height: 320px;" alt="">
                  {% endif %}
                </a>
                <div class="portfolio-caption">
                  <h4>{{ evento.nombre }}</h4>
                  <p class="text-muted">{{ evento.direccion }} - {{ evento.ciudad }}</p>
                </div>
              </div>
              {% endfor %}

          </div>
        </div>
      </section>
    
      
    
      <!-- Clients -->
      <section class="py-5">
        <div class="container">
          <div class="row">
            <div class="col-md-3 col-sm-6">
              <a href="#">
                <img class="img-fluid d-block mx-auto" src="{{ base_url('assets/agency/img/logos/envato.jpg') }}" alt="">
              </a>
            </div>
            <div class="col-md-3 col-sm-6">
              <a href="#">
                <img class="img-fluid d-block mx-auto" src="{{ base_url('assets/agency/img/logos/designmodo.jpg') }}" alt="">
              </a>
            </div>
            <div class="col-md-3 col-sm-6">
              <a href="#">
                <img class="img-fluid d-block mx-auto" src="{{ base_url('assets/agency/img/logos/themeforest.jpg') }}" alt="">
              </a>
            </div>
            <div class="col-md-3 col-sm-6">
              <a href="#">
                <img class="img-fluid d-block mx-auto" src="{{ base_url('assets/agency/img/logos/creative-market.jpg') }}" alt="">
              </a>
            </div>
          </div>
        </div>
      </section>
    
      <!-- Contact -->
      <section id="contact">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 text-center">
              <h2 class="section-heading text-uppercase">Contactanos</h2>
              <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <form id="contactForm" name="sentMessage" novalidate="novalidate">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <input class="form-control" id="name" type="text" placeholder="Your Name *" required="required" data-validation-required-message="Please enter your name.">
                      <p class="help-block text-danger"></p>
                    </div>
                    <div class="form-group">
                      <input class="form-control" id="email" type="email" placeholder="Your Email *" required="required" data-validation-required-message="Please enter your email address.">
                      <p class="help-block text-danger"></p>
                    </div>
                    <div class="form-group">
                      <input class="form-control" id="phone" type="tel" placeholder="Your Phone *" required="required" data-validation-required-message="Please enter your phone number.">
                      <p class="help-block text-danger"></p>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <textarea class="form-control" id="message" placeholder="Your Message *" required="required" data-validation-required-message="Please enter a message."></textarea>
                      <p class="help-block text-danger"></p>
                    </div>
                  </div>
                  <div class="clearfix"></div>
                  <div class="col-lg-12 text-center">
                    <div id="success"></div>
                    <button id="sendMessageButton" class="btn btn-primary btn-xl text-uppercase" type="submit">Envia tu mensaje</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>
    
      <!-- Footer -->
      <footer>
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <span class="copyright">Copyright &copy; Todos los derechos reservados Eventzum 2019</span>
            </div>
            <div class="col-md-4">
              <ul class="list-inline social-buttons">
                <li class="list-inline-item">
                  <a href="#">
                    <i class="fab fa-twitter"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="#">
                    <i class="fab fa-facebook-f"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="#">
                    <i class="fab fa-linkedin-in"></i>
                  </a>
                </li>
              </ul>
            </div>
            <div class="col-md-4">
              <ul class="list-inline quicklinks">
                <li class="list-inline-item">
                  <a href="#">Privacy Policy</a>
                </li>
                <li class="list-inline-item">
                  <a href="#">Terms of Use</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </footer>
    
      <!-- Portfolio Modals -->

      {% for evento in eventos %}
      <!-- Modal 1 -->
      <div class="portfolio-modal modal fade" id="portfolioModal{{ evento.id }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
              <div class="lr">
                <div class="rl"></div>
              </div>
            </div>
            <div class="container">
              <div class="row">
                <div class="col-lg-8 mx-auto">
                  <div class="modal-body">
                    <!-- Project Details Go Here -->
                    <h2 class="text-uppercase">{{ evento.nombre }}</h2>
                    <p class="item-intro text-muted">EN CONCIERTO.</p>
                    <img class="img-fluid d-block mx-auto" src="img/portfolio/01-full.jpg" alt="">
                    <p>{{ evento.direccion }} - {{ evento.ciudad }}</p>
                    <ul class="list-inline">
                      <li>Jueves 25 de abril de 2019...</li>
                      <li>Pamplona: Navarra Arena</li>
                      <li>Category: Musical</li>
                    </ul>
                    {% if session.isLogin %}
                    <form action="{{ base_url('front/carritoController/agregar') }}" method="post">
                      <input type="hidden" name="evento_id" value="{{ evento.id }}"/>
                      <button class="btn btn-primary" type="submit">Agregar al Carrito</button>
                    </form>
                    {% else %}
                      <p>* debe estar logueado para poder comprar eventos.</p>
                      <a class="btn btn-primary" href="{{ base_url('login') }}">Loguearse</a>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}

{% endblock %}