<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
<div class="container">
    <img src="./assets/agency/img/logos/eventzum-logo.png" width="200" height="70"></img>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
    Menu
    <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav text-uppercase ml-auto">
        <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{{ base_url('') }}">Inicio</a>
        </li>
        {% if session.isLogin %}
            {% if session.role == 1 %}
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="{{ base_url('carrito') }}">Carrito</a>
                </li>
            {% endif %}                
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="{{ base_url('configuracion') }}">Mi Perfil</a>
            </li>
            {% if session.role != 1 %}
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="{{ base_url('admin') }}">Admin</a>
                </li>
            {% endif %}
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="{{ base_url('logout') }}">Log out</a>
            </li>
        {% else %}
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="{{ base_url('login') }}">Iniciar Session</a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="{{ base_url('registro') }}">Registrarse</a>
            </li>
        {% endif %}
    </ul>
    </div>
</div>
</nav>