{% extends "admin/layout.twig" %}
{% block container %}

  <div class="container-fluid">
    <div class="card mt-3 mb-3">
      <div class="card-header">{% if edit %}Editar{% else %}Nueva{% endif %} Sucursal:</div>
      <div class="card-body">
        <form action="{{ data.action }}" method="post">
          <div class="form-group">
            <label for="varchar">usuario</label>
            <select name="usuario_id" id="usuario_id" class="form-control">
              {% for usuario in data.usuarios %}
                <option value="{{ usuario.id }}">{{ usuario.username }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="form-group">
            <label for="varchar">tienda</label>
            <select name="tienda_id" id="tienda_id" class="form-control">
              {% if data.tiendas|length <= 0 %}
                <option value="0" disabled selected>"Debe crear una tienda primero para asignar a la sucursal"</option>
              {% endif %}
              {% for tienda in data.tiendas %}
                <option value="{{ tienda.id }}">{{ tienda.nombre }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="form-group">
            <label for="varchar">evento</label>
            <select name="evento_id" id="evento_id" class="form-control">
              {% if data.eventos|length <= 0 %}
                <option value="0" disabled selected>"Debe crear un evento primero para asignar a la sucursal"</option>
              {% endif %}
              {% for evento in data.eventos %}
                <option value="{{ evento.id }}">{{ evento.nombre }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="form-group">
            <div class="form-label-group">
              <input value="{{ data.representante }}" type="text" id="representante" class="form-control" name="representante" placeholder="representante" required="required" autofocus="autofocus">
              <label for="representante">representante</label> 
            </div>
          </div>
          <div class="form-group">
            <div class="form-label-group">
              <input value="{{ data.direccion }}" type="text" id="direccion" class="form-control" name="direccion" placeholder="direccion" required="required" autofocus="autofocus">
              <label for="direccion">direccion</label> 
            </div>
          </div>
          <div class="form-group">
            <div class="form-label-group">
              <input value="{{ data.ciudad }}" type="text" id="ciudad" class="form-control" name="ciudad" placeholder="ciudad" required="required" autofocus="autofocus">
              <label for="ciudad">ciudad</label> 
            </div>
          </div>
          <div class="form-group">
            <div class="form-label-group">
              <input value="{{ data.activo }}" type="text" id="activo" class="form-control" name="activo" placeholder="activo" required="required" autofocus="autofocus">
              <label for="activo">activo</label> 
            </div>
          </div>

          <input type="hidden" name="id" value="{{ data.id }}"/>
          <button type="submit" class="btn btn-success">{% if edit %}Guardar{% else %}Crear{% endif %}</button>

        </form>  
      </div>
    </div>
  </div>

{% endblock %}