{% extends "admin/layout.twig" %}
{% block container %}
<div class="container-fluid">
    <br>
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
      <li class="breadcrumb-item active">Bienvenido al sistema de control de gestión eventzum, aquí usted podrá gestionar:</li>
    </ol>

    <!-- Icon Cards-->
    <div class="row">
      <div class="col-xl-3 col-sm-6 mb-3">
        <div class="card text-white bg-primary o-hidden h-100">
          <div class="card-body">
            <div class="card-body-icon">
              <i class="fas fa-fw fa-comments"></i>
            </div>
            <div class="mr-5">EMPRESAS!</div>
          </div>
          <a class="card-footer text-white clearfix small z-1" href="{{ base_url('admin/empresas') }}">
            <span class="float-left">Acceder</span>
            <span class="float-right">
              <i class="fas fa-angle-right"></i>
            </span>
          </a>
        </div>
      </div>
      <div class="col-xl-3 col-sm-6 mb-3">
        <div class="card text-white bg-warning o-hidden h-100">
          <div class="card-body">
            <div class="card-body-icon">
              <i class="fas fa-fw fa-list"></i>
            </div>
            <div class="mr-5">TIENDAS!</div>
          </div>
          <a class="card-footer text-white clearfix small z-1" href="{{ base_url('admin/tiendas') }}">
            <span class="float-left">Acceder</span>
            <span class="float-right">
              <i class="fas fa-angle-right"></i>
            </span>
          </a>
        </div>
      </div>
      <div class="col-xl-3 col-sm-6 mb-3">
        <div class="card text-white bg-success o-hidden h-100">
          <div class="card-body">
            <div class="card-body-icon">
              <i class="fas fa-fw fa-shopping-cart"></i>
            </div>
            <div class="mr-5">PRODUCTOS!</div>
          </div>
          <a class="card-footer text-white clearfix small z-1" href="{{ base_url('admin/productos') }}">
            <span class="float-left">Acceder</span>
            <span class="float-right">
              <i class="fas fa-angle-right"></i>
            </span>
          </a>
        </div>
      </div>
      <div class="col-xl-3 col-sm-6 mb-3">
        <div class="card text-white bg-danger o-hidden h-100">
          <div class="card-body">
            <div class="card-body-icon">
              <i class="fas fa-fw fa-life-ring"></i>
            </div>
            <div class="mr-5">EVENTOS!</div>
          </div>
          <a class="card-footer text-white clearfix small z-1" href="{{ base_url('admin/eventos') }}">
            <span class="float-left">Acceder</span>
            <span class="float-right">
              <i class="fas fa-angle-right"></i>
            </span>
          </a>
        </div>
      </div>
    </div>

  </div>  
{% endblock %}