<ul class="sidebar navbar-nav">
  <li class="nav-item active">
    <a class="nav-link" href="{{ base_url('') }}">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Inicio</span>
    </a>
  </li>
  {% if session.role == 'superadmin' %}
    <li class="nav-item">
      <a class="nav-link" href="{{ base_url('admin/usuarios') }}">
        <i class="fas fa-fw fa-chart-area"></i>
        <span>Usuarios</span></a>
    </li>
  {% endif %}
  {% if session.role == 'promotor' or session.role == 'superadmin' %}
    <li class="nav-item">
      <a class="nav-link" href="{{ base_url('admin/eventos') }}">
        <i class="fas fa-fw fa-table"></i>
        <span>Eventos</span></a>
    </li>
  {% endif %}
  
  {% if session.role == 6 %}
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="usuariosDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-fw fa-folder"></i>
        <span>Usuarios</span>
      </a>
      <div class="dropdown-menu" aria-labelledby="pagesDropdown">
        <a class="dropdown-item" href="{{ base_url('admin/usuarios') }}">Listado</a>
      </div>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="estadiosDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-fw fa-folder"></i>
        <span>Estadios</span>
      </a>
      <div class="dropdown-menu" aria-labelledby="pagesDropdown">
        <a class="dropdown-item" href="{{ base_url('admin/estadios') }}">Listado</a>
      </div>
    </li>
  {% endif %}

  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="empresasDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i class="fas fa-fw fa-folder"></i>
      <span>Empresas</span>
    </a>
    <div class="dropdown-menu" aria-labelledby="pagesDropdown">
      <a class="dropdown-item" href="{{ base_url('admin/empresas') }}">Listado</a>
    </div>
  </li>

  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="tiendasDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i class="fas fa-fw fa-folder"></i>
      <span>Tiendas</span>
    </a>
    <div class="dropdown-menu" aria-labelledby="pagesDropdown">
      <a class="dropdown-item" href="{{ base_url('admin/tiendas') }}">Listado</a>
      <a class="dropdown-item" href="{{ base_url('admin/tiendas/sucursales') }}">Sucursales</a>
    </div>
  </li>

  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="productosDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i class="fas fa-fw fa-folder"></i>
      <span>Productos</span>
    </a>
    <div class="dropdown-menu" aria-labelledby="pagesDropdown">
      <a class="dropdown-item" href="{{ base_url('admin/productos') }}">Listado</a>
      {% if session.role == 6 %}
        <a class="dropdown-item" href="{{ base_url('admin/productos/categorias') }}">Categorias</a>
        <a class="dropdown-item" href="{{ base_url('admin/productos/subcategorias') }}">Sub-Categorias</a>
      {% endif %}
    </div>
  </li>

  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="eventosDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i class="fas fa-fw fa-folder"></i>
      <span>Eventos</span>
    </a>
    <div class="dropdown-menu" aria-labelledby="pagesDropdown">
      <a class="dropdown-item" href="{{ base_url('admin/eventos') }}">Listado</a>
      <a class="dropdown-item" href="{{ base_url('admin/eventos/participantes') }}">Participantes</a>
      {% if session.role == 6 %}
        <a class="dropdown-item" href="{{ base_url('admin/eventos/categorias') }}">Categorias</a>
        <a class="dropdown-item" href="{{ base_url('admin/eventos/subcategorias') }}">Sub-Categorias</a>
      {% endif %}
    </div>
  </li>

  {% if session.role == 6 %}
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="pagosStripeDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-fw fa-folder"></i>
        <span>Pagos Stripe</span>
      </a>
      <div class="dropdown-menu" aria-labelledby="pagesDropdown">
        <a class="dropdown-item" href="{{ base_url('admin/pagosStripe') }}">Listado</a>
      </div>
    </li>
  {% endif %}

</ul>