{% extends "admin/layout.twig" %}
{% block container %}
<div class="container-fluid">
  <!-- DataTables Example -->
  <a href="{{ base_url('admin/estadios/nuevo') }}" class="btn btn-primary align-left mt-3">+ Nuevo Estadio</a>

  <div class="card mt-3 mb-3">
    <div class="card-header">
      <i class="fas fa-table"></i> Listado de Estadios
    </div>
    <div class="card-body">  
      <table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
        <thead>
          <tr role="row">
            <th>Id</th>
            <th>Nombre</th>
            <th>Latitud</th>
            <th>Longitud</th>
            <th>Plano</th>
            <th>Informacion</th>
            <th style="width: 10px;">Acciones</th>
          </tr>
        </thead>
        <tbody>
          {% for entity in entities %}
            <tr role="row" class="odd">
              <td class="sorting_1">{{ entity.id }}</td>
              <td class="sorting_1">{{ entity.nombre }}</td>
              <td class="sorting_1">{{ entity.latitud }}</td>
              <td class="sorting_1">{{ entity.longitud }}</td>
              <td class="sorting_1">{{ entity.plano }}</td>
              <td class="sorting_1">{{ entity.informacion }}</td>
              <th>
                <a class="far fa-edit mr-1 pointer" href="{{ base_url('admin/estadios/editar/' ~ entity.id) }}" rel="tooltip"></a>
                <a class="far fa-trash-alt pointer" href="{{ base_url('admin/estadios/borrar/' ~ entity.id) }}" onclick="return confirm('Estas seguro que deseas borrar Estadio?');" rel="tooltip"></a>
              </th>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="card-footer">
      <a class="btn btn-primary" href="{{ base_url('admin/estadios/nuevo') }}">+ Nuevo Estadio</a>
    </div>
  </div>
</div>

{% endblock %}