.box {
  width:200px;
  height:300px;
  background:#D0D5D1;
  margin:40px auto;

}
.box h3{
  text-align:center;
  position:relative;
  top:10px;
  font-size: 1em	;
}


/* efecto 1 */
.efecto1{
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 6px -6px #777;
}

/* efecto 2 */
.efecto2
{
  position: relative;
}
.efecto2:before, .efecto2:after
{
/* Posiciona la sobora por detras del color de la caja*/
    z-index: -1;
    position: absolute;
    /* no aplico ningun contenidos HTML */
    content: "";
    /* posiciona la sombra con respecto al borde inferior, izquierdo y superior */
    bottom: 15px;
    left: 10px;
    top: 80%;
    /* configura el ancho */
    width: 50%;
/* color de fondo */
    background: #777;
    /* definicion de la sombra estandar para box-shadow */
    -webkit-box-shadow: 0 15px 10px #777;
    -moz-box-shadow: 0 15px 10px #777;
    box-shadow: 0 15px 10px #777;
    /* rotacion de la sombra */
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    transform: rotate(-3deg);
}
.efecto2:after
{
    /* rotacion de la sombra */
    -webkit-transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    -o-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    transform: rotate(3deg);
    /* posiciona la sombra con respecto al borde izquierdo y derecho */
    right: 10px;
    left: auto;
}

/* efecto 3 */
.efecto3
{
  position:relative;
  -webkit-box-shadow:0 0px 4px #777, 0 0 20px #CCC inset;
  -moz-box-shadow:0 0px 4px #777, 0 0 20px #CCC inset;
  box-shadow:0 0px 4px #777, 0 0 20px #CCC inset;
}
.efecto3:before, .efecto3:after
{
  /* no aplica contenidos */
  content:"";
    position:absolute;
  /* posiciona la sombra por detras de la caja */
    z-index:-1;
  /* aplica una sombra centrada con un gris oscuro y 20px de difuminado */
    -webkit-box-shadow:0 0 20px #777;
    -moz-box-shadow:0 0 20px #777;
    box-shadow:0 0 20px #777;
  /* centra verticalmente y separa la sombra de los bordes izquierdo y derecho */
    top:0;
    bottom:0;
    left:10px;
    right:10px;
  /* redondea las esquinas de la sombra */
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}

img{
  display:flex;
  margin:0 auto;
}