{% extends "admin/layout.twig" %}
{% block container %}

  <div class="container-fluid">
    <div class="card mt-3 mb-3">
      <div class="card-header">{% if edit %}Editar{% else %}Nueva{% endif %} Categoria:</div>      
      <div class="card-body">
        <form action="{{ data.action }}" method="post">
          <div class="form-group">
            <div class="form-label-group">
              <input value="{{ data.nombre }}" type="text" id="nombre" class="form-control" name="nombre" placeholder="nombre" required="required" autofocus="autofocus">
              <label for="nombre">nombre</label> 
            </div>
          </div>
          <div class="form-group">
            <div class="form-label-group">
              <input value="{{ data.activo }}" type="text" id="activo" class="form-control" name="activo" placeholder="activo" required="required" autofocus="autofocus">
              <label for="activo">activo</label> 
            </div>
          </div>

          <input type="hidden" name="id" value="{{ data.id }}"/>
          <button type="submit" class="btn btn-success">{% if edit %}Guardar{% else %}Crear{% endif %}</button>

        </form>  
      </div>
    </div>
  </div>

{% endblock %}