{% extends "admin/layout.twig" %}
{% block container %}

  <div class="container-fluid">
    <div class="card mt-3 mb-3">
      <div class="card-header">{% if edit %}Editar{% else %}Nuevo{% endif %} Evento:</div>
      <div class="card-body">
        <form action="{{ data.action }}" method="post" enctype="multipart/form-data">
          <div class="form-group">
            <div class="form-label-group">
              
                <div id="img-evento" class="col-md-6">
                  <img id="img-url" src="{{ base_url(evento_url) }}" width="600" height="400">
                </div>

               <input type="file" id="imagen_url" name="imagen_url" value="{{ data.imagen_url }}" onchange="previewFile()" />

              <input type="hidden" id="imagen_url2" name="imagen_url2" value="{{ data.imagen_url }}"  />
              <input type="hidden" id="imagen_file2" name="imagen_file2" value="{{ data.imagen_file }}"  />

            </div>
          </div>

          <div class="row">
              <div class="col-lg-4">
              <div class="form-group">
              <label for="varchar">Estadio </label>
               <select name="estadio_id" id="estadio_id" class="form-control"  onchange="asientos('{{ estadio.id }}')">
                {% for estadio in data.estadios %}
                  {% if estadio.id  ==  data.estadio %}
                      <option value="{{ estadio.id }}" selected>{{ estadio.nombre }}</option>
                  {% else %}
                      <option value="{{ estadio.id }}">{{ estadio.nombre }}</option>
                  {% endif %}
                {% endfor %}
               </select>



               
              </div>
            </div>

             <div class="col-lg-4">
                <div name="retorno" id="retorno">
                {# salida de la funcion jquery #}
                </div>

              </div>

              <div class="col-lg-4">
                <div name="SelectAsientos" id="SelectAsientos">
                {# salida de la funcion jquery #}
                </div>

              </div>

             </div>

          <div class="row">
           <div class="col-lg-4">
              <div class="form-group">
               <div class="form-group">
                  <label for="int">Usuario Id {{form_error('usuario_id') }} </label>
                  <input type="text" class="form-control" name="usuario_id" id="usuario_id" placeholder="Usuario Id" value="{{data.usuario}}" />
               </div>
              </div>
            </div>

          <div class="col-lg-4">
              <div class="form-group">
               <div class="form-group">
                <label for="varchar">Empresa {{ form_error('Empresa') }} </label>
                <input type="text" class="form-control" name="Empresa" id="Empresa" placeholder="Empresa" value="{{data.empresa}}" />
              </div>
              </div>
            </div>          
           
           
           
          <div>
       
          <div class="row">
            <div class="col-lg-4">
              <div class="form-group">
                <label for="varchar">categoria</label>
                <select name="categoria_id" id="categoria_id" class="form-control">
                  {% for categoria in data.categorias %}
                    <option value="{{ categoria.id }}">{{ categoria.nombre }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="form-group">
                <label for="varchar">subcategoria</label>
                <select name="subcategoria_id" id="subcategoria_id" class="form-control">
                  {% for subcategoria in data.subcategorias %}
                    <option value="{{ subcategoria.id }}">{{ subcategoria.nombre }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <div class="col-lg-2 mt-4">
               <div class="form-group">
                  <div class="form-label-group">
                    <input value="{{ data.activo }}" type="number" id="activo" class="form-control" name="activo" placeholder="activo" required="required" autofocus="autofocus">
                    <label for="activo">activo   </label> 
                    
                  </div>
                </div>
               </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <div class="form-label-group">
                  <input value="{{ data.nombre }}" type="text" id="nombre" class="form-control" name="nombre" placeholder="nombre" required="required" autofocus="autofocus">
                  <label for="nombre">nombre  </label> 
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <div class="form-label-group">
                  <input value="{{ data.direccion }}" type="text" id="direccion" class="form-control" name="direccion" placeholder="direccion" required="required" autofocus="autofocus">
                  <label for="direccion">direccion</label> 
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-3">
              <div class="form-group">
                <div class="form-label-group">
                  <input value="{{ data.ciudad }}" type="text" id="ciudad" class="form-control" name="ciudad" placeholder="ciudad" required="required" autofocus="autofocus">
                  <label for="ciudad">ciudad</label> 
                </div>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="form-group">
                <div class="form-label-group">
                  <input value="{{ data.codigo_postal }}" type="text" id="codigo_postal" class="form-control" name="codigo_postal" placeholder="codigo_postal" required="required" autofocus="autofocus">
                  <label for="codigo_postal">codigo_postal</label> 
                </div>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="form-group">
                <div class="form-label-group">
                  <input value="{{ data.correo }}" type="text" id="correo" class="form-control" name="correo" placeholder="correo" required="required" autofocus="autofocus">
                  <label for="correo">correo</label> 
                </div>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="form-group">
                <div class="form-label-group">
                  <input value="{{ data.telefono }}" type="text" id="telefono" class="form-control" name="telefono" placeholder="telefono" required="required" autofocus="autofocus">
                  <label for="telefono">telefono</label> 
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <div class="form-label-group">
                  <input value="{{ data.fecha }}" type="DATE" id="fecha" class="form-control" name="fecha" placeholder="fecha" required="required" autofocus="autofocus">
                  <label for="fecha">fecha</label> 
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <div class="form-label-group">
                  <input value="{{ data.hora }}" type="text" id="hora" class="form-control" name="hora" placeholder="hora" required="required" autofocus="autofocus">
                  <label for="hora">hora</label> 
                </div>
              </div>
            </div>
          </div>
          {# <div class="row">
            <div class="col-lg-12">
              <div class="card mt-3 mb-3">
                <div class="card-header">Tickets Entradas:</div>
               
              </div>  
            </div>
          </div> #}

          <input type="hidden" name="imagen_file" value="{{ data.imagen_file }}"/>
          <input type="hidden" id="id" name="id" value="{{ data.id }}"/>
          <button type="submit" class="btn btn-success">{% if edit %}Guardar{% else %}Crear{% endif %}</button>

        </form>  
      </div>
    </div>
  </div>

{% endblock %}

{% block bodyjavascripts %}

  {{ parent() }}

  <script type="text/javascript">

      function asientos(idEstadio)
      {    

           var txt =$("#estadio_id").val();
       
           $.post("{{base_url('admin/eventos/asientos')}}", {dire: txt}, function(result){
              $("#retorno").html(result);   
          });     
      }


      function SelectAsientos()
      {    

        // alert("llegue a selectAsientos"); 
         var zona =$("#zona_id").val();
           var idEv =$("#id").val();
       
           $.post("{{base_url('admin/eventos/SelectAsientos')}}", {id: idEv, zona:zona}, function(result){
              $("#SelectAsientos").html(result);   
          });  
      }



      document.addEventListener("DOMContentLoaded", function(){
       
          if ("{{ evento_url }}"=="" ) {
             document.getElementById('img-evento').innerHTML = '<img src="https://via.placeholder.com/400x600" />';
          }

       }, false);

      function previewFile(){               
                var fileInput = document.getElementById('imagen_url');
                var filePath = fileInput.value;
                var allowedExtensions = /(\.jpg|\.jpeg|\.png|\.gif)$/i;
                 if(!allowedExtensions.exec(filePath)){
                    alert('Please upload file having extensions .jpeg/.jpg/.png/.gif only.');
                    fileInput.value = '';
                    return false;
                }else{
                    //Image preview
                    if (fileInput.files && fileInput.files[0]) {
                        var reader = new FileReader();
                        reader.onload = function(e) {
                            document.getElementById('img-evento').innerHTML = '<img src="'+e.target.result+'" style=\"width: 500px; height: 500px\" />';
                        };
                        reader.readAsDataURL(fileInput.files[0]);
                    }
                }

            if ("{{ evento_url }}"=="" ) {
                         document.getElementById('img-evento').innerHTML = '<img src="https://via.placeholder.com/400x600" />';

              }
        }











  </script>

  {# <script>
  
    $(document).ready(function () {
      var counter = 0;

      $("#addrow").on("click", function () {
          var newRow = $("<tr>");
          var cols = "";

          cols += '<td><div class="form-group"><div class="form-label-group"><input type="text" id="tipo_' + counter + '" class="form-control" placeholder="tipo" required="required" autofocus="autofocus" name="tipo_' + counter + '"/><label for="tipo_' + counter + '">tipo</label></div></div></td>';
          cols += '<td><div class="form-group"><div class="form-label-group"><input type="number" id="precio_' + counter + '" class="form-control" placeholder="precio" required="required" autofocus="autofocus" name="precio_' + counter + '"/><label for="precio_' + counter + '">precio</label></div></div></td>';
          cols += '<td><div class="form-group"><div class="form-label-group"><input type="number" id="stock_' + counter + '" class="form-control" placeholder="stock" required="required" autofocus="autofocus" name="stock_' + counter + '"/><label for="stock_' + counter + '">stock</label></div></div></td>';

          cols += '<td><button type="button" class="ibtnDel btn btn-md btn-danger"><i class="fas fa-fw fa-trash-alt"></i></button></td>';
          
          newRow.append(cols);
          $("table.order-list").append(newRow);
          counter++;
      });



      $("table.order-list").on("click", ".ibtnDel", function (event) {
          $(this).closest("tr").remove();       
          counter -= 1
      });
    });

  </script> #}

{% endblock %}