{% extends "admin/layout.twig" %}
{% block container %}
<div class="container-fluid">
  <!-- DataTables Example -->
  <div class="card mt-3 mb-3">
    <div class="card-header">
      <i class="fas fa-table"></i> Listado de Pagos Stripe
    </div>
    <div class="card-body">  
      <table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
        <thead>
          <tr role="row">
            <th>id</th>
            <th>nombre</th>
            <th>email</th>
            <th>n° tarjeta</th>
            <th>mes vto tarjeta</th>
            <th>año vto tarjeta</th>
            <th>nombre</th>
            <th>n° transaccion</th>
            <th style="width: 10px;">Acciones</th>
          </tr>
        </thead>
        <tbody>
          {% if entities|length <= 0 %}<h2>No se han registrado pagos con Stripe!</h2>{% endif %}
          {% for entity in entities %}
            <tr role="row" class="odd">
              <td class="sorting_1">{{ entity.id }}</td>
              <td class="sorting_1">{{ entity.name }}</td>
              <td class="sorting_1">{{ entity.email }}</td>
              <td class="sorting_1">{{ entity.card_num }}</td>
              <td class="sorting_1">{{ entity.card_exp_month }}</td>
              <td class="sorting_1">{{ entity.card_exp_year }}</td>
              <td class="sorting_1">{{ entity.item_name }}</td>
              <td class="sorting_1">{{ entity.item_number }}</td>
              <th>
                <a class="far fa-file mr-1 pointer" href="{{ base_url('admin/pagosStripe/detalle/' ~ entity.id) }}" rel="tooltip"></a>
              </th>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="card-footer">
    </div>
  </div>
</div>
{% endblock %}