{% extends "front/layout.twig" %}

{% block stylesheets %}
{{ parent() }}
<style>
.navbar {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  background-color: #212529 !important;
}
#carrito-header {
  background-color: rgb(255, 2, 73);
  color: white;
}
</style>
{% endblock %}

{% block container %}

      <link href="https://js.stripe.com/v3/fingerprinted/css/checkout-1e0119d59291a774dd291bad215516e3.css" rel="stylesheet">

      <!-- Portfolio Grid -->
      <section class="bg-light" id="portfolio">
        <div class="container">
          <div class="row">
            <div class="col-lg-6">
              <div class="App-Overview">
                <header class="Header">
                  <div class="Header-Content flex-container justify-content-space-between align-items-stretch">
                    <div class="Header-Business flex-item width-auto">
                      <a class="Link Link--primary" href="https://stripe.com/docs/payments/checkout?cancel=true#see-how" target="_self">
                        <div class="flex-container align-items-center">
                          <div class="HeaderImage--icon flex-container justify-content-center align-items-center flex-item width-fixed">
                            <img alt="Stripe Press" src="https://stripe-camo.global.ssl.fastly.net/5527aa500b7ed436f3fdb052938641d2ddb454f8/68747470733a2f2f66696c65732e7374726970652e636f6d2f66696c65732f665f746573745f6c31766b6e756647586c7a614e35616a6e35334f4c386f66">
                          </div>
                          <h1 class="Text Text-color--gray800 Text-fontSize--14 Text-fontWeight--500 Text--truncate">Esta por realizar la compra de:</h1>
                          <div class="Tag mx2">
                            <span class="Text Text-color--orange Text-fontSize--11 Text-fontWeight--700 Text-transform--uppercase">Beta</span>
                          </div>
                        </div>
                      </a>
                    </div>
                    <div class="Header-Actions flex-item width-auto">
                      <button class="Button Header-ViewDetailsButton Button--link Button--sm" type="button">
                        <div class="flex-container justify-content-center align-items-center">
                          <svg class="InlineSVG Icon Button-Icon Button-Icon--right Icon--sm" focusable="false" width="12" height="12">
                            <path d="M10.193 3.97a.75.75 0 0 1 1.062 1.062L6.53 9.756a.75.75 0 0 1-1.06 0L.745 5.032A.75.75 0 0 1 1.807 3.97L6 8.163l4.193-4.193z" fill="#000" fill-rule="evenodd" fill-opacity=".4"></path>
                          </svg>
                          <span class="Text Text-fontWeight--500 Text--truncate">
                            <span>Ver detalles</span>
                          </span>
                        </div>
                      </button>
                    </div>
                  </div>
                </header>
                <div class="ProductSummary">
                  <div class="ProductSummary-ProductImageContainer">
                    <div class="ProductImage-container">
                      {% if evento.imagen_url %}
                        <img id="img-url" src="{{ base_url(evento.imagen_url) }}" width="300" height="200">
                      {% else %}
                        <img id="img-evento" src="https://via.placeholder.com/300x200" width="300" height="200">
                      {% endif %}
                    </div>
                  </div>
                  <div class="ProductSummary-Info">
                    <span class="Text Text-color--gray500 Text-fontSize--16 Text-fontWeight--500">Evento: {{ evento.nombre }}</span>
                    <span class="ProductSummary-TotalAmount Text Text-color--gray800 Text-fontWeight--600 Text--tabularNumbers" id="ProductSummary-TotalAmount">
                      <span>$ {{ carrito.total }}</span>
                    </span>
                    <span class="Text Text-color--gray500 Text-fontSize--14 Text-fontWeight--500" id="ProductSummary-Description">total de la compra</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="App-Payment">
                <div class="PaymentRequestOrHeader">
                  <div style="opacity: 1; transform-origin: 0% 0% 0px;">
                    <div class="PaymentHeader">
                      <div class="Text Text-fontSize--20 Text-fontWeight--500">
                        <span>Pago con tarjeta</span>
                      </div>
                    </div>
                  </div>
                </div>
                <form method="post" id="paymentFrm" enctype="multipart/form-data" action="{{ base_url('front/carritoController/check') }}">
                  <div class="App-Payment-Card flex-container spacing-16 direction-row wrap-wrap">
                    <div class="flex-item width-12">
                      <div class="FormFieldGroup">
                        <div class="FormFieldGroup-labelContainer flex-container justify-content-space-between">
                          <label for="email">
                            <span class="Text Text-color--gray600 Text-fontSize--13 Text-fontWeight--500">
                              <span>Nombre en la tarjeta</span>
                            </span>
                          </label>
                        </div>
                        <fieldset class="FormFieldGroup-Fieldset" id="email-fieldset">
                          <div class="FormFieldGroup-container">
                            <div class="FormFieldGroup-child FormFieldGroup-child--width-12 FormFieldGroup-childLeft FormFieldGroup-childRight FormFieldGroup-childTop FormFieldGroup-childBottom">
                              <div class="FormFieldInput">
                                <span class="InputContainer" data-max="">
                                  <input type="text" name="name" class="form-control" placeholder="Name" value="{{ set_value('name') }}" required>
                                </span>
                              </div>
                            </div>
                            <div style="opacity: 0; height: 0px;">
                              <span class="FieldError Text Text-color--red Text-fontSize--13">
                                <span></span>
                              </span>
                            </div>
                          </div>
                        </fieldset>
                      </div>
                    </div>
                    <div class="flex-item width-12">
                      <div class="FormFieldGroup">
                        <div class="FormFieldGroup-labelContainer flex-container justify-content-space-between">
                          <label for="email">
                            <span class="Text Text-color--gray600 Text-fontSize--13 Text-fontWeight--500">
                              <span>Correo electrónico</span>
                            </span>
                          </label>
                        </div>
                        <fieldset class="FormFieldGroup-Fieldset" id="email-fieldset">
                          <div class="FormFieldGroup-container">
                            <div class="FormFieldGroup-child FormFieldGroup-child--width-12 FormFieldGroup-childLeft FormFieldGroup-childRight FormFieldGroup-childTop FormFieldGroup-childBottom">
                              <div class="FormFieldInput">
                                <span class="InputContainer" data-max="">
                                  <input type="email" name="email" class="form-control" placeholder="email@you.com" value="{{ usuario.email }}" required />
                                </span>
                              </div>
                            </div>
                            <div style="opacity: 0; height: 0px;">
                              <span class="FieldError Text Text-color--red Text-fontSize--13">
                                <span></span>
                              </span>
                            </div>
                          </div>
                        </fieldset>
                      </div>
                    </div>
                    <div class="flex-item width-12">
                      <div class="FormFieldGroup">
                        <div class="FormFieldGroup-labelContainer flex-container justify-content-space-between">
                          <label for="cardNumber-fieldset">
                            <span class="Text Text-color--gray600 Text-fontSize--13 Text-fontWeight--500">
                              <span>Información de tarjeta</span>
                            </span>
                          </label>
                        </div>
                        <fieldset class="FormFieldGroup-Fieldset" id="cardNumber-fieldset">
                          <div class="FormFieldGroup-container">
                            <div class="FormFieldGroup-child FormFieldGroup-child--width-12 FormFieldGroup-childLeft FormFieldGroup-childRight FormFieldGroup-childTop">
                              <div class="FormFieldInput">
                                <span class="InputContainer" data-max="">
                                  <input type="number" class="CheckoutInput CheckoutInput--tabularnums Input Input--empty" autocomplete="cc-number" autocorrect="off" spellcheck="false" id="card_num" name="card_num" inputmode="numeric" aria-label="Número de tarjeta" placeholder="1234 1234 1234 1234" aria-placeholder="1234 1234 1234 1234" aria-invalid="false" value="{{ set_value('card_num') }}" required>
                                </span>
                              <div class="FormFieldInput-Icons" style="opacity: 1;">
                                <div style="transform: none;">
                                  <span class="FormFieldInput-IconsIcon is-visible">
                                    <img src="https://js.stripe.com/v3/fingerprinted/img/visa-365725566f9578a9589553aa9296d178.svg" alt="visa" class="Icon Icon--md">
                                  </span>
                                </div>
                                <div style="transform: none;">
                                  <span class="FormFieldInput-IconsIcon is-visible">
                                    <img src="https://js.stripe.com/v3/fingerprinted/img/mastercard-4d8844094130711885b5e41b28c9848f.svg" alt="mastercard" class="Icon Icon--md">
                                  </span>
                                </div>
                                <div style="transform: none;">
                                  <span class="FormFieldInput-IconsIcon is-visible">
                                    <img src="https://js.stripe.com/v3/fingerprinted/img/amex-a49b82f46c5cd6a96a6e418a6ca1717c.svg" alt="amex" class="Icon Icon--md">
                                  </span>
                                </div>
                                <div class="CardFormFieldGroupIconOverflow">
                                  <span class="CardFormFieldGroupIconOverflow-Item CardFormFieldGroupIconOverflow-Item--invisible" role="presentation">
                                    <span class="FormFieldInput-IconsIcon" role="presentation">
                                      <img src="https://js.stripe.com/v3/fingerprinted/img/unionpay-8a10aefc7295216c338ba4e1224627a1.svg" alt="unionpay" class="Icon Icon--md">
                                    </span>
                                  </span>
                                  <span class="CardFormFieldGroupIconOverflow-Item CardFormFieldGroupIconOverflow-Item--invisible" role="presentation">
                                    <span class="FormFieldInput-IconsIcon" role="presentation">
                                      <img src="https://js.stripe.com/v3/fingerprinted/img/jcb-271fd06e6e7a2c52692ffa91a95fb64f.svg" alt="jcb" class="Icon Icon--md">
                                    </span>
                                  </span>
                                  <span class="CardFormFieldGroupIconOverflow-Item CardFormFieldGroupIconOverflow-Item--invisible" role="presentation">
                                    <span class="FormFieldInput-IconsIcon" role="presentation">
                                      <img src="https://js.stripe.com/v3/fingerprinted/img/discover-ac52cd46f89fa40a29a0bfb954e33173.svg" alt="discover" class="Icon Icon--md">
                                    </span>
                                  </span>
                                  <span class="CardFormFieldGroupIconOverflow-Item CardFormFieldGroupIconOverflow-Item--visible" role="presentation">
                                    <span class="FormFieldInput-IconsIcon" role="presentation">
                                      <img src="https://js.stripe.com/v3/fingerprinted/img/diners-fbcbd3360f8e3f629cdaa80e93abdb8b.svg" alt="diners" class="Icon Icon--md">
                                    </span>
                                  </span>
                                </div>
                              </div>
                            </div>
                          </div>
                          
                          <div class="flex-item width-12">
                          <div class="FormFieldGroup">
                            <div class="FormFieldGroup-labelContainer flex-container justify-content-space-between">
                              <label for="cardNumber-fieldset">
                                <span class="Text Text-color--gray600 Text-fontSize--13 Text-fontWeight--500">
                                  <span>Datos de validación</span>
                                </span>
                              </label>
                            </div>
                            <div class="row">

                              <div class="col-sm-8">
                                  <div class="row">
                                      <div class="col-sm-6">
                                          <div class="form-group">
                                              <input type="text" name="exp_month" maxlength="2" class="CheckoutInput CheckoutInput--tabularnums Input Input--empty" id="card-expiry-month" placeholder="MM" value="{{ set_value('exp_month') }}" required>
                                          </div>
                                      </div>

                                      <div class="col-sm-6">
                                          <div class="form-group">
                                              <input type="text" name="exp_year" class="CheckoutInput CheckoutInput--tabularnums Input Input--empty" maxlength="4" id="card-expiry-year" placeholder="YYYY" required="" value="{{ set_value('exp_year') }}">
                                          </div>
                                      </div>
                                  </div>
                              </div>

                              <div class="col-sm-4">
                                  <div class="form-group">
                                      <input type="text" name="cvc" id="card-cvc" maxlength="3" class="CheckoutInput CheckoutInput--tabularnums Input Input--empty" autocomplete="off" placeholder="CVC" value="{{ set_value('cvc') }}" required>
                                  </div>

                                  <div class="FormFieldInput-Icon is-loaded">
                                    <svg focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 21" class="Icon Icon--md">
                                      <g fill="none" fill-rule="evenodd">
                                        <g id="cvc" class="Icon-fill">
                                          <g id="card" transform="translate(0 2)">
                                            <path id="shape" d="M21.68 0H2c-.92 0-2 1.06-2 2v15c0 .94 1.08 2 2 2h25c.92 0 2-1.06 2-2V9.47a5.98 5.98 0 0 1-3 1.45V11c0 .66-.36 1-1 1H3c-.64 0-1-.34-1-1v-1c0-.66.36-1 1-1h17.53a5.98 5.98 0 0 1 1.15-9z" opacity=".2">
                                            </path>
                                            <path id="shape" d="M19.34 3H0v3h19.08a6.04 6.04 0 0 1 .26-3z" opacity=".3">
                                            </path>
                                          </g>
                                          <g id="shape" transform="translate(18)">
                                            <path d="M7 14A7 7 0 1 1 7 0a7 7 0 0 1 0 14zM4.22 4.1h-.79l-1.93.98v1l1.53-.8V9.9h1.2V4.1zm2.3.8c.57 0 .97.32.97.78 0 .5-.47.85-1.15.85h-.3v.85h.36c.72 0 1.21.36 1.21.88 0 .5-.48.84-1.16.84-.5 0-1-.16-1.52-.47v1c.56.24 1.12.37 1.67.37 1.31 0 2.21-.67 2.21-1.64 0-.68-.42-1.23-1.12-1.45.6-.2.99-.73.99-1.33C8.68 4.64 7.85 4 6.65 4a4 4 0 0 0-1.57.34v.98c.48-.27.97-.42 1.44-.42zm4.32 2.18c.73 0 1.24.43 1.24.99 0 .59-.51 1-1.24 1-.44 0-.9-.14-1.37-.43v1.03c.49.22.99.33 1.48.33.26 0 .5-.04.73-.1.52-.85.82-1.83.82-2.88l-.02-.42a2.3 2.3 0 0 0-1.23-.32c-.18 0-.37.01-.57.04v-1.3h1.44a5.62 5.62 0 0 0-.46-.92H9.64v3.15c.4-.1.8-.17 1.2-.17z">
                                            </path>
                                          </g>
                                        </g>
                                      </g>
                                    </svg>
                                  </div>

                              </div>
                          </div>
                        </div>
                        
                          
                          <div style="opacity: 0; height: 0px;">
                            <span class="FieldError Text Text-color--red Text-fontSize--13">
                              <span></span>
                            </span>
                          </div>
                        </div>
                        </fieldset>
                      </div>
                    </div>
                    {# <div class="flex-item width-12">
                      <div class="FormFieldGroup">
                        <div class="FormFieldGroup-labelContainer flex-container justify-content-space-between">
                          <label for="billingName">
                            <span class="Text Text-color--gray600 Text-fontSize--13 Text-fontWeight--500">
                              <span>Nombre en la tarjeta</span>
                            </span>
                          </label>
                        </div>
                        <fieldset class="FormFieldGroup-Fieldset" id="billingName-fieldset">
                          <div class="FormFieldGroup-container">
                            <div class="FormFieldGroup-child FormFieldGroup-child--width-12 FormFieldGroup-childLeft FormFieldGroup-childRight FormFieldGroup-childTop FormFieldGroup-childBottom">
                            <div class="FormFieldInput"><span class="InputContainer" data-max=""><input class="CheckoutInput Input Input--empty" autocomplete="ccname" autocorrect="off" spellcheck="false" id="billingName" name="billingName" type="text" aria-invalid="false" value=""></span></div></div><div style="opacity: 0; height: 0px;"><span class="FieldError Text Text-color--red Text-fontSize--13"><span></span></span></div></div>
                        </fieldset>
                      </div>
                    </div> #}
                    {# <div class="flex-item width-12">
                      <div class="FormFieldGroup">
                        <div class="FormFieldGroup-labelContainer flex-container justify-content-space-between">
                          <label for="country">
                            <span class="Text Text-color--gray600 Text-fontSize--13 Text-fontWeight--500">
                              <span>País o región</span>
                            </span>
                          </label>
                        </div>
                        <fieldset class="FormFieldGroup-Fieldset" id="country-fieldset">
                          <div class="FormFieldGroup-container FormFieldGroup-container--supportTransitions">
                            <div class="FormFieldGroup-child FormFieldGroup-child--width-12 FormFieldGroup-childLeft FormFieldGroup-childRight FormFieldGroup-childTop FormFieldGroup-childBottom" _pose="enter,flip">
                              <div class="FormFieldInput">
                                <div>
                                  <div class="Select">
                                    <select id="billingCountry" name="billingCountry" autocomplete="billing country" class="Select-source" aria-label="País o región">
                                      <option value="" disabled="" hidden=""></option>
                                      <option value="AF">Afganistán</option>
                                      <option value="AL">Albania</option>
                                      <option value="DE">Alemania</option>
                                      <option value="AD">Andorra</option>
                                      <option value="AO">Angola</option>
                                      <option value="AI">Anguila</option>
                                      <option value="AQ">Antártida</option>
                                      <option value="AG">Antigua y Barbuda</option>
                                      <option value="SA">Arabia Saudí</option>
                                      <option value="DZ">Argelia</option>
                                      <option value="AR">Argentina</option>
                                      <option value="AM">Armenia</option>
                                      <option value="AW">Aruba</option>
                                      <option value="AU">Australia</option>
                                      <option value="AT">Austria</option>
                                      <option value="AZ">Azerbaiyán</option>
                                      <option value="BS">Bahamas</option>
                                      <option value="BD">Bangladés</option>
                                      <option value="BB">Barbados</option>
                                      <option value="BH">Baréin</option>
                                      <option value="BE">Bélgica</option>
                                      <option value="BZ">Belice</option>
                                      <option value="BJ">Benín</option>
                                      <option value="BM">Bermudas</option>
                                      <option value="BY">Bielorrusia</option>
                                      <option value="BO">Bolivia</option>
                                      <option value="BA">Bosnia y Herzegovina</option>
                                      <option value="BW">Botsuana</option>
                                      <option value="BR">Brasil</option><option value="BN">Brunéi</option><option value="BG">Bulgaria</option><option value="BF">Burkina Faso</option><option value="BI">Burundi</option><option value="BT">Bután</option><option value="CV">Cabo Verde</option><option value="KH">Camboya</option><option value="CM">Camerún</option><option value="CA">Canadá</option><option value="BQ">Caribe neerlandés</option><option value="QA">Catar</option><option value="TD">Chad</option><option value="CZ">Chequia</option><option value="CL">Chile</option><option value="CN">China</option><option value="CY">Chipre</option><option value="VA">Ciudad del Vaticano</option><option value="CO">Colombia</option><option value="KM">Comoras</option><option value="CG">Congo</option><option value="KR">Corea del Sur</option><option value="CR">Costa Rica</option><option value="CI">Côte d’Ivoire</option><option value="HR">Croacia</option><option value="CW">Curazao</option><option value="DK">Dinamarca</option><option value="DM">Dominica</option><option value="EC">Ecuador</option><option value="EG">Egipto</option><option value="SV">El Salvador</option><option value="AE">Emiratos Árabes Unidos</option><option value="ER">Eritrea</option><option value="SK">Eslovaquia</option><option value="SI">Eslovenia</option>
                                      <option value="ES">España</option>
                                      <option value="US">Estados Unidos</option>
                                      <option value="EE">Estonia</option>
                                      <option value="ET">Etiopía</option><option value="PH">Filipinas</option><option value="FI">Finlandia</option><option value="FJ">Fiyi</option><option value="FR">Francia</option><option value="GA">Gabón</option><option value="GM">Gambia</option><option value="GE">Georgia</option><option value="GH">Ghana</option><option value="GI">Gibraltar</option><option value="GD">Granada</option><option value="GR">Grecia</option><option value="GL">Groenlandia</option><option value="GP">Guadalupe</option><option value="GU">Guam</option><option value="GT">Guatemala</option><option value="GF">Guayana Francesa</option><option value="GG">Guernsey</option><option value="GN">Guinea</option><option value="GQ">Guinea Ecuatorial</option><option value="GW">Guinea-Bisáu</option><option value="GY">Guyana</option><option value="HT">Haití</option><option value="HN">Honduras</option><option value="HU">Hungría</option><option value="IN">India</option><option value="ID">Indonesia</option><option value="IQ">Irak</option><option value="IR">Irán</option><option value="IE">Irlanda</option><option value="BV">Isla Bouvet</option><option value="AC">Isla de la Ascensión</option><option value="IM">Isla de Man</option><option value="IS">Islandia</option><option value="AX">Islas Åland</option><option value="KY">Islas Caimán</option><option value="CK">Islas Cook</option><option value="FO">Islas Feroe</option><option value="GS">Islas Georgia del Sur y Sandwich del Sur</option><option value="FK">Islas Malvinas</option><option value="PN">Islas Pitcairn</option><option value="SB">Islas Salomón</option><option value="TC">Islas Turcas y Caicos</option><option value="VG">Islas Vírgenes Británicas</option><option value="IL">Israel</option><option value="IT">Italia</option><option value="JM">Jamaica</option><option value="JP">Japón</option><option value="JE">Jersey</option><option value="JO">Jordania</option><option value="KZ">Kazajistán</option><option value="KE">Kenia</option><option value="KG">Kirguistán</option><option value="KI">Kiribati</option><option value="XK">Kosovo</option><option value="KW">Kuwait</option><option value="LA">Laos</option><option value="LS">Lesoto</option><option value="LV">Letonia</option><option value="LB">Líbano</option><option value="LR">Liberia</option><option value="LY">Libia</option><option value="LI">Liechtenstein</option><option value="LT">Lituania</option><option value="LU">Luxemburgo</option><option value="MK">Macedonia</option><option value="MG">Madagascar</option><option value="MY">Malasia</option><option value="MW">Malaui</option><option value="MV">Maldivas</option><option value="ML">Mali</option><option value="MT">Malta</option><option value="MA">Marruecos</option><option value="MQ">Martinica</option><option value="MU">Mauricio</option><option value="MR">Mauritania</option><option value="YT">Mayotte</option><option value="MX">México</option><option value="MD">Moldavia</option><option value="MC">Mónaco</option><option value="MN">Mongolia</option><option value="ME">Montenegro</option><option value="MS">Montserrat</option><option value="MZ">Mozambique</option><option value="MM">Myanmar (Birmania)</option><option value="NA">Namibia</option><option value="NR">Nauru</option><option value="NP">Nepal</option><option value="NI">Nicaragua</option><option value="NE">Níger</option><option value="NG">Nigeria</option><option value="NU">Niue</option><option value="NO">Noruega</option><option value="NC">Nueva Caledonia</option><option value="NZ">Nueva Zelanda</option><option value="OM">Omán</option><option value="NL">Países Bajos</option><option value="PK">Pakistán</option><option value="PA">Panamá</option><option value="PG">Papúa Nueva Guinea</option><option value="PY">Paraguay</option><option value="PE">Perú</option><option value="PF">Polinesia Francesa</option><option value="PL">Polonia</option><option value="PT">Portugal</option><option value="PR">Puerto Rico</option><option value="HK">RAE de Hong Kong (China)</option><option value="MO">RAE de Macao (China)</option><option value="GB">Reino Unido</option><option value="CF">República Centroafricana</option><option value="CD">República Democrática del Congo</option><option value="DO">República Dominicana</option><option value="RE">Reunión</option><option value="RW">Ruanda</option><option value="RO">Rumanía</option><option value="RU">Rusia</option><option value="EH">Sáhara Occidental</option><option value="WS">Samoa</option><option value="BL">San Bartolomé</option><option value="KN">San Cristóbal y Nieves</option><option value="SM">San Marino</option><option value="MF">San Martín</option><option value="PM">San Pedro y Miquelón</option><option value="VC">San Vicente y las Granadinas</option><option value="SH">Santa Elena</option><option value="LC">Santa Lucía</option><option value="ST">Santo Tomé y Príncipe</option><option value="SN">Senegal</option><option value="RS">Serbia</option><option value="SC">Seychelles</option><option value="SL">Sierra Leona</option><option value="SG">Singapur</option><option value="SX">Sint Maarten</option><option value="SO">Somalia</option><option value="LK">Sri Lanka</option><option value="SZ">Suazilandia</option><option value="ZA">Sudáfrica</option><option value="SS">Sudán del Sur</option><option value="SE">Suecia</option><option value="CH">Suiza</option><option value="SR">Surinam</option><option value="SJ">Svalbard y Jan Mayen</option><option value="TH">Tailandia</option><option value="TW">Taiwán</option><option value="TZ">Tanzania</option><option value="TJ">Tayikistán</option><option value="IO">Territorio Británico del Océano Índico</option><option value="TF">Territorios Australes Franceses</option><option value="PS">Territorios Palestinos</option><option value="TL">Timor-Leste</option><option value="TG">Togo</option><option value="TK">Tokelau</option><option value="TO">Tonga</option><option value="TT">Trinidad y Tobago</option><option value="TA">Tristán de Acuña</option><option value="TN">Túnez</option><option value="TM">Turkmenistán</option><option value="TR">Turquía</option><option value="TV">Tuvalu</option><option value="UA">Ucrania</option><option value="UG">Uganda</option><option value="UY">Uruguay</option><option value="UZ">Uzbekistán</option><option value="VU">Vanuatu</option><option value="VE">Venezuela</option><option value="VN">Vietnam</option><option value="WF">Wallis y Futuna</option><option value="YE">Yemen</option><option value="DJ">Yibuti</option><option value="ZM">Zambia</option><option value="ZW">Zimbabue</option>
                                    </select>
                                    <svg class="InlineSVG Icon Select-arrow Icon--sm" focusable="false" width="12" height="12">
                                      <path d="M10.193 3.97a.75.75 0 0 1 1.062 1.062L6.53 9.756a.75.75 0 0 1-1.06 0L.745 5.032A.75.75 0 0 1 1.807 3.97L6 8.163l4.193-4.193z" fill="#000" fill-rule="evenodd" fill-opacity=".4">
                                      </path>
                                    </svg>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div style="opacity: 0; height: 0px;">
                              <span class="FieldError Text Text-color--red Text-fontSize--13">
                                <span></span>
                              </span>
                            </div>
                          </div>
                        </fieldset>
                      </div>
                    </div> #}
                    {# <div class="flex-item width-12"></div> #}
                    {# <div class="flex-item width-12">
                      <button class="SubmitButton SubmitButton--incomplete" type="submit" style="background-color: rgb(61, 66, 78); color: rgb(255, 255, 255);">
                        <div class="SubmitButton-Shimmer" style="background: linear-gradient(to right, rgba(61, 66, 78, 0) 0%, rgb(82, 87, 100) 50%, rgba(61, 66, 78, 0) 100%);"></div>
                        <div class="SubmitButton-TextContainer">
                          <span class="SubmitButton-Text SubmitButton-Text--current Text Text-fontWeight--500 Text--truncate">
                            <span>Pagar 
                              <span>$ </span>
                              <input type="number" id="monto_compra" value="{{ carrito.total }}" class="monto_compra" readonly>
                            </span>
                          </span>
                          <span class="SubmitButton-Text SubmitButton-Text--pre Text Text-fontWeight--500 Text--truncate">
                            <span>Procesando...</span>
                          </span>
                        </div>
                        <div class="SubmitButton-IconContainer">
                          <div class="SubmitButton-Icon SubmitButton-Icon--pre">
                            <div class="Icon Icon--md Icon--square">
                              <svg viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" focusable="false">
                                <path d="M3 7V5a5 5 0 1 1 10 0v2h.5a1 1 0 0 1 1 1v6a2 2 0 0 1-2 2h-9a2 2 0 0 1-2-2V8a1 1 0 0 1 1-1zm5 2.5a1 1 0 0 0-1 1v2a1 1 0 0 0 2 0v-2a1 1 0 0 0-1-1zM11 7V5a3 3 0 1 0-6 0v2z" fill="#ffffff" fill-rule="evenodd">
                                </path>
                              </svg>
                            </div>
                          </div>
                          <div class="SubmitButton-Icon SubmitButton-SpinnerIcon SubmitButton-Icon--pre">
                            <div class="Icon Icon--md Icon--square">
                              <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" focusable="false">
                                <ellipse cx="12" cy="12" rx="10" ry="10" style="stroke: rgb(255, 255, 255);"></ellipse>
                              </svg>
                            </div>
                          </div>
                        </div>
                        <div class="SubmitButton-CheckmarkIcon">
                          <div class="Icon Icon--md">
                            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="14" focusable="false">
                              <path d="M 0.5 6 L 8 13.5 L 21.5 0" fill="transparent" stroke-width="2" stroke="#ffffff" stroke-linecap="round" stroke-linejoin="round"></path>
                            </svg>
                          </div>
                        </div>
                      </button>
                    </div> #}
                    <input type="hidden" name="total" value="{{ carrito.total }}"/>
                    <div class="form-group text-right">
                      <button class="btn btn-secondary" type="reset">Reset</button>
                      <button type="submit" id="payBtn" class="btn btn-success">Proceder con el pago</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </section>
    
{% endblock %}

{% block bodyjavascripts %}

  {{ parent() }}

  <script src="https://js.stripe.com/v3/"></script>
  <script type="text/javascript" src="{{ base_url('assets/stripe-style/config-stripe.js') }}"></script>

  <!-- Stripe JavaScript library -->
  <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/imask/5.1.5/imask.min.js"></script>
  
  <script type="text/javascript">

      //set your publishable key
      Stripe.setPublishableKey('pk_test_l66rZX9bMJ6JeY62u2nWPoRo');
      
      //callback to handle the response from stripe
      function stripeResponseHandler(status, response) {
          if (response.error) {
              //enable the submit button
              $('#payBtn').removeAttr("disabled");
              //display the errors on the form
              // $('#payment-errors').attr('hidden', 'false');
              $('#payment-errors').addClass('alert alert-danger');
              $("#payment-errors").html(response.error.message);
          } else {
              var form$ = $("#paymentFrm");
              //get token id
              var token = response['id'];
              //insert the token into the form
              form$.append("<input type='hidden' name='stripeToken' value='" + token + "' />");
              //submit form to the server
              form$.get(0).submit();
          }
      }
      $(document).ready(function() {
          //on form submit
          $("#paymentFrm").submit(function(event) {
              //disable the submit button to prevent repeated clicks
              $('#payBtn').attr("disabled", "disabled");
              
              //create single-use token to charge the user
              Stripe.createToken({
                  number: $('#card_num').val(),
                  cvc: $('#card-cvc').val(),
                  exp_month: $('#card-expiry-month').val(),
                  exp_year: $('#card-expiry-year').val()
              }, stripeResponseHandler);
              
              //submit from callback
              return false;
          });

          var numberMask = IMask(
            //document.getElementById('card_num'),
            $('#card_num').val(),
            {
              mask: '0000 0000 0000 0000',
              lazy: false,  // make placeholder always visible
              placeholderChar: '#'     // defaults to '_'
            }
          );

      });
  </script>
{% endblock %}