{% extends "front/layout.twig" %}

{% block stylesheets %}
{{ parent() }}
<style>
.navbar {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  background-color: #212529 !important;
}
.list-group-item-action {
  background-color: #f8f9fa;
}
.section-subheading {
  font-size: 25px !important;
  margin-bottom: 10px !important;
}
#carrito-header {
  background-color: rgb(255, 2, 73);
  color: white;
}
#btn-event-deleted {
  height: 30px;
}

.tickets > input {
  border: 1px solid #ccc !important;
  text-align: center;
}

.table > tbody > tr > td > input[type=number] {
  width: 70px;
  border: none;
}

.total_carrito {
  border: none;
}

</style>
{% endblock %}

{% block container %}
      <!-- Portfolio Grid -->
      <section class="bg-dark" id="portfolio">
        <div class="row">
          <div class="col-lg-12 ml-4">
            <div class="container">
            <h5>Adquiri tus tickets:</h5>
              {% set subtotal = 0 %}
                {% set subtotal = subtotal + evento.precio %}
                <div class="card mb-3">
                  <form action="{{ base_url('front/carritoController/tickets_action') }}" method="post">
                    {% if evento.imagen_url %}
                      <img class="img card-img-top" src="{{ base_url(evento.imagen_url) }}" width="150" height="200" alt="">
                    {% else %}
                      <img class="img card-img-top" src="https://via.placeholder.com/150x200" width="150" height="200" alt="{{ evento.nombre }}">
                    {% endif %}
                    <div class="card-body">
                      <h5 class="card-title">{{ evento.nombre }}</h5>
                      <p class="card-text">{{ evento.direccion }}</p>
                      <table class="table">
                        <thead>
                          <tr>
                            <th>Lugar</th>
                            <th>Precio</th>
                            <th>Disponible</th>
                            <th>Ingresa Cantidad</th>
                            <th>Subtotal</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% if stock %}
                            {% for key, pos in stock %}
                            <tr>  
                              <td>{{ pos['lugar'] }}</td>
                              <td>
                                $ <input type="number" id="ticket_{{ key }}_precio" class="ticket_{{ key }}_precio" value="{{ pos['precio'] }}" readonly>
                              </td>
                              <td>{{ pos['stock'] }}</td>
                              <td>
                                <input type="number" id="ticket_{{ key }}" class="tickets" value="0" min="0" max="{{ pos['stock'] }}">
                              </td>
                              <td>
                                $ <input type="number" id="precio_ticket_{{ key }}" value="0" class="precio_ticket_{{ key }}" readonly>
                              </td>
                            </tr>
                            {% endfor %}
                          {% else %}
                            <input type="hidden" id="ticket_0_precio" class="ticket_0_precio" value="0" readonly>
                            <input type="hidden" id="ticket_0" class="ticket_0" value="0" min="0" max="0">
                            <input type="hidden" id="precio_ticket_0" value="0" class="precio_ticket_0" readonly>
                          {% endif %}
                            <tr>  
                              <td></td>
                              <td></td>
                              <td></td>
                              <th>TOTAL:</th>
                              <td>
                                $ <input type="number" name="total_carrito" id="total_carrito" class="total_carrito" readonly>
                              </td>
                            </tr>
                        </tbody>
                      </table>
                    </div>
                    <div class="card-footer">
                      <a href="{{ base_url('carrito/quitar-evento/' ~ evento.id) }}" id="btn-event-deleted" class="btn btn-danger btn-sm pull-right">quitar evento de carrito</a>
                      <button type="submit" class="btn btn-sm btn-success float-right">Comprar</button>
                    </div>
                  </form>  
                </div>
            </div>
          </div>
          
        </div>
      </section>

{% endblock %}

{% block bodyjavascripts %}

  {{ parent() }}

  <script type="text/javascript">

    function calcularTotal(element) {
      total = $('.total_carrito').val();
      subtotal = 0;
      
      precio = $('#'+element.attr('id')+'_precio').val();
      multiplicador = element.val();
      subtotal = precio * multiplicador;
      $('.precio_'+element.attr('id')).val(subtotal);

      total = Number(total) + Number(subtotal);
      $('.total_carrito').val(total);
    }

    $(".tickets").change(function() {
      calcularTotal($(this));
    });

  </script>

{% endblock %}