{% extends "front/layout.twig" %}

{% block stylesheets %}
{{ parent() }}
<style>
.navbar {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  background-color: #212529 !important;
}
#carrito-header {
  background-color: rgb(255, 2, 73);
  color: white;
}
</style>
{% endblock %}

{% block container %}

      <!-- Portfolio Grid -->
      <section class="bg-light" id="portfolio">
        <div class="container">
          <div class="row">
            <div class="col-lg-8">
              <div class="row">
              {% if productos|length > 0 %}
                {% for producto in productos %}
                    <div class="col-lg-3">
                      <div class="card">
                        {% if producto.imagen_url %}
                          <img class="img" src="{{ base_url(producto.imagen_url) }}" width="150" height="160" alt="">
                        {% else %}
                          <img id="img-producto" src="https://via.placeholder.com/150x120" alt="...">
                        {% endif %}
                        <div class="card-body">
                          <h6 class="card-title">{{ producto.nombre }}</h6>
                          <h6 class="card-subtitle mb-2 text-muted">{{ producto.descripcion }}</h6>  
                          <h5><span class="badge badge-danger">AR${{ producto.precio }}</span></h5>
                          <form action="{{ base_url('front/carritoController/agregar_producto') }}" method="post">
                            <input type="hidden" name="producto_id" value="{{ producto.id }}"/>
                            <button class="btn btn-warning btn-sm" type="submit">agregar</button>
                          </form>
                        </div>
                      </div>                      
                    </div>
                {% endfor %}
              {% else %}
                <div class="col-lg-12">
                  <h3>Esta sucursal actualmente no tiene productos</h3>
                </div>
              {% endif %}
              </div>
            </div>
            <div class="col-lg-4">
              <div class="card">
                <div id="carrito-header" class="card-header">
                  Quedan pocas horas para terminar la oferta
                </div>
                <div class="card-body">
                  <h5 class="card-title">Precio: </h5>
                  {% set subtotal = 0 %}
                  {% for producto in productos %}
                    {% if producto.id in mis_productos %}
                        {% set subtotal = subtotal + producto.precio %}
                        <p class="card-text">-> {{ producto.nombre }} - ${{ producto.precio }} <a href="{{ base_url('carrito/quitar-producto/' ~ producto.id) }}" class="btn btn-light btn-sm">x</a></p>
                    {% endif %}                  
                  {% endfor %}
                  <p class="card-text">TOTAL: ${{ subtotal }}</p>
                </div>
                <div class="card-footer text-muted text-center">
                  <a href="{{ base_url('carrito') }}" class="btn btn-light align-center">Volver</a>
                  <a href="#" class="btn btn-success align-center">Comprar ahora</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    
      <!-- Footer -->
      <footer>
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <span class="copyright">Copyright &copy; Todos los derechos reservados Eventzum 2019</span>
            </div>
            <div class="col-md-4">
              <ul class="list-inline social-buttons">
                <li class="list-inline-item">
                  <a href="#">
                    <i class="fab fa-twitter"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="#">
                    <i class="fab fa-facebook-f"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="#">
                    <i class="fab fa-linkedin-in"></i>
                  </a>
                </li>
              </ul>
            </div>
            <div class="col-md-4">
              <ul class="list-inline quicklinks">
                <li class="list-inline-item">
                  <a href="#">Privacy Policy</a>
                </li>
                <li class="list-inline-item">
                  <a href="#">Terms of Use</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </footer>
{% endblock %}