{% extends "front/layout.twig" %}

{% block stylesheets %}
{{ parent() }}
<style>
.navbar {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  background-color: #212529 !important;
}
#carrito-header {
  background-color: rgb(255, 2, 73);
  color: white;
}
</style>
{% endblock %}

{% block container %}

      <!-- Portfolio Grid -->
      <section class="bg-light" id="portfolio">
        <div class="container">
        <h2>Seleccione la Sucursal para ver los productos:</h2>
          <div class="row">
            <div class="col-lg-8">
              <div class="row">
              {% for sucursal_in in sucursales_array %}
                {% for sucursal in sucursal_in %}
                  <div class="col-lg-3">
                    <div class="card">
                      {% if sucursal.imagen_url %}
                        <img class="img" src="{{ base_url(sucursal.imagen_url) }}" width="150" height="160" alt="">
                      {% else %}
                        <img id="img-sucursal" src="https://via.placeholder.com/150x120" alt="...">
                      {% endif %}
                      <div class="card-body">
                        <h6 class="card-title">{{ sucursal.representante }}</h6>
                        <h6 class="card-title">{{ sucursal.direccion }}</h6>
                        <h6 class="card-subtitle mb-2 text-muted">{{ sucursal.ciudad }}</h6>  
                        <form action="{{ base_url('front/carritoController/carrito_productos') }}" method="post">
                          <input type="hidden" name="sucursal_id" value="{{ sucursal.id }}"/>
                          <button class="btn btn-warning btn-sm" type="submit">ver productos</button>
                        </form>
                      </div>
                    </div>                      
                  </div>
                {% endfor %}
              {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </section>
    
      <!-- Footer -->
      <footer>
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <span class="copyright">Copyright &copy; Todos los derechos reservados Eventzum 2019</span>
            </div>
            <div class="col-md-4">
              <ul class="list-inline social-buttons">
                <li class="list-inline-item">
                  <a href="#">
                    <i class="fab fa-twitter"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="#">
                    <i class="fab fa-facebook-f"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="#">
                    <i class="fab fa-linkedin-in"></i>
                  </a>
                </li>
              </ul>
            </div>
            <div class="col-md-4">
              <ul class="list-inline quicklinks">
                <li class="list-inline-item">
                  <a href="#">Privacy Policy</a>
                </li>
                <li class="list-inline-item">
                  <a href="#">Terms of Use</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </footer>
{% endblock %}