
   <!-- The data encoding type, enctype, MUST be specified as below -->
<form enctype="multipart/form-data" action="<?php echo(site_url('Dropzone/imageUploadPost') ); ?>" method="POST">
    <!-- MAX_FILE_SIZE must precede the file input field -->
    <input type="hidden" name="MAX_FILE_SIZE" value="30000" />
    <!-- Name of input element determines name in $_FILES array -->
    Send this file: <input name="userfile" type="file" />
    <input type="submit" value="Send File" />
</form>




            <form enctype="multipart/form-data"  action="<?php echo(site_url('Dropzone/imageUploadPost') ); ?>" class="dropzone">
              <div class="fallback">
                <input name="file" type="file" multiple />
              </div>
            </form>




      <form action="<?php echo(site_url('Dropzone/imageUploadPost') ); ?>" enctype="multipart/form-data" class="dropzone" id="image-upload" method="POST">
        <div>
          <h3>Upload Multiple Image By Click On Box hola</h3>
        </div>
      </form>











         <script type="text/javascript">

     docsDropzone.on('complete', function (response)
{
    $(".dz-preview").remove();
});
      </script>

  <div id='dr' class="dz-message">adsfasdfasdfasd</div>