{% extends "admin/layout.twig" %}
{% block container %}

  <div class="container-fluid">
    <div class="card mt-3 mb-3">
      <div class="card-header">{% if edit %}Editar{% else %}Nuevo{% endif %} Producto:</div>
      <div class="card-body">
        <form action="{{ data.action }}" method="post" enctype="multipart/form-data">
          <div class="form-group">
            <div class="form-label-group">
              {% if producto_url %}
                <img id="img-url" src="{{ base_url(producto_url) }}" width="600" height="400">
              {% else %}
                <img id="img-producto" src="" width="600" height="400">
              {% endif %}
              <input type="file" id="imagen_url" name="imagen_url" value="{{ data.imagen_url }}" onchange="previewFile()" />
            </div>
          </div>
          <div class="form-group">
            <label for="varchar">sucursal</label>
            <select name="sucursal_id" id="sucursal_id" class="form-control">
              {% for sucursal in data.sucursales %}
                <option value="{{ sucursal.id }}">{{ sucursal.tienda }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="form-group">
            <label for="varchar">categoria</label>
            <select name="categoria_id" id="categoria_id" class="form-control">
              {% for categoria in data.categorias %}
                <option value="{{ categoria.id }}">{{ categoria.nombre }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="form-group">
            <label for="varchar">subcategoria</label>
            <select name="subcategoria_id" id="subcategoria_id" class="form-control">
              {% for subcategoria in data.subcategorias %}
                <option value="{{ subcategoria.id }}">{{ subcategoria.nombre }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="form-group">
            <div class="form-label-group">
              <input value="{{ data.nombre }}" type="text" id="nombre" class="form-control" name="nombre" placeholder="nombre" required="required" autofocus="autofocus">
              <label for="nombre">nombre</label> 
            </div>
          </div>
          <div class="form-group">
            <div class="form-label-group">
              <input value="{{ data.descripcion }}" type="text" id="descripcion" class="form-control" name="descripcion" placeholder="descripcion" required="required" autofocus="autofocus">
              <label for="descripcion">descripcion</label> 
            </div>
          </div>
          <div class="form-group">
            <div class="form-label-group">
              <input value="{{ data.precio }}" type="text" id="precio" class="form-control" name="precio" placeholder="precio" required="required" autofocus="autofocus">
              <label for="precio">precio</label> 
            </div>
          </div>
          <div class="form-group">
            <div class="form-label-group">
              <input value="{{ data.iva }}" type="text" id="iva" class="form-control" name="iva" placeholder="iva" required="required" autofocus="autofocus">
              <label for="iva">iva</label> 
            </div>
          </div>
          <div class="form-group">
            <div class="form-label-group">
              <input value="{{ data.stock }}" type="text" id="stock" class="form-control" name="stock" placeholder="stock" required="required" autofocus="autofocus">
              <label for="stock">stock</label> 
            </div>
          </div>
          <div class="form-group">
            <div class="form-label-group">
              <input value="{{ data.activo }}" type="text" id="activo" class="form-control" name="activo" placeholder="activo" required="required" autofocus="autofocus">
              <label for="activo">activo</label> 
            </div>
          </div>

          <input type="hidden" name="imagen_file" value="{{ data.imagen_file }}"/>
          <input type="hidden" name="id" value="{{ data.id }}"/>
          <button type="submit" class="btn btn-success">{% if edit %}Guardar{% else %}Crear{% endif %}</button>

        </form>  
      </div>
    </div>
  </div>

{% endblock %}

{% block bodyjavascripts %}

  {{ parent() }}

  <script type="text/javascript">

    function previewFile(){
       var preview = document.querySelector('#img-producto'); //selects the query named img
      //var url = document.querySelector('#img-url'); //selects the query named img
      var file    = document.querySelector('input[type=file]').files[0]; //sames as here
      var reader  = new FileReader();

      reader.onloadend = function () {
        preview.src = reader.result;
      }

      if (file) {
        reader.readAsDataURL(file); //reads the data as a URL
      } else {
        preview.src = "https://via.placeholder.com/400x600";
      }
    } 

    previewFile();  

  </script>

{% endblock %}