{% extends "admin/layout.twig" %}
{% block container %}
<div class="container-fluid">
  <!-- DataTables Example -->
  <a href="{{ base_url('admin/productos/nuevo') }}" class="btn btn-primary align-left mt-3">+ Nuevo Producto</a>

  <div class="card mt-3 mb-3">
    <div class="card-header">
      <i class="fas fa-table"></i> Listado de Productos
    </div>
    <div class="card-body">  
      <table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
        <thead>
          <tr role="row">
            <th>id</th>
            <th>sucursal</th>
            <th>nombre</th>
            <th>descripcion</th>
            <th>precio</th>
            <th>stock</th>
            <th>categoria</th>
            <th>subcategoria</th>
            <th style="width: 10px;">Acciones</th>
          </tr>
        </thead>
        <tbody>
          {% for entity in entities %}
            <tr role="row" class="odd">
              <td class="sorting_1">{{ entity.id }}</td>
              <td class="sorting_1">{{ entity.sucursal }}</td>
              <td class="sorting_1">{{ entity.nombre }}</td>
              <td class="sorting_1">{{ entity.descripcion }}</td>
              <td class="sorting_1">{{ entity.precio }}</td>
              <td class="sorting_1">{{ entity.stock }}</td>
              <td class="sorting_1">{{ entity.categoria_id }}</td>
              <td class="sorting_1">{{ entity.subcategoria_id }}</td>
              <th>
                <a class="far fa-edit mr-1 pointer" href="{{ base_url('admin/productos/editar/' ~ entity.id) }}" rel="tooltip"></a>
                <a class="far fa-trash-alt pointer" href="{{ base_url('admin/productos/borrar/' ~ entity.id) }}" rel="tooltip"></a>
              </th>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="card-footer">
      <a class="btn btn-primary" href="{{ base_url('admin/productos/nuevo') }}">+ Nuevo Producto</a>
    </div>
  </div>
</div>
{% endblock %}