.example.example4 {
  background: rgba(95,111,149,1);
  background: -moz-linear-gradient(top, rgba(95,111,149,1) 0%, rgba(163,211,224,1) 59%, rgba(196,228,237,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(95,111,149,1)), color-stop(59%, rgba(163,211,224,1)), color-stop(100%, rgba(196,228,237,1)));
  background: -webkit-linear-gradient(top, rgba(95,111,149,1) 0%, rgba(163,211,224,1) 59%, rgba(196,228,237,1) 100%);
  background: -o-linear-gradient(top, rgba(95,111,149,1) 0%, rgba(163,211,224,1) 59%, rgba(196,228,237,1) 100%);
  background: -ms-linear-gradient(top, rgba(95,111,149,1) 0%, rgba(163,211,224,1) 59%, rgba(196,228,237,1) 100%);
  background: linear-gradient(to bottom, rgba(95,111,149,1) 0%, rgba(163,211,224,1) 59%, rgba(196,228,237,1) 100%);
}

.title-card {
  color: #fff;
}

.example.example4 * {
  font-family: Inter UI, Open Sans, Segoe UI, sans-serif;
  font-size: 16px;
  font-weight: 500;
}

.example.example4 form {
  max-width: 496px !important;
  padding: 0 15px;
}

.example.example4 form > * + * {
  margin-top: 20px;
}

.example.example4 .container {
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  padding: 3px;
}

.example.example4 fieldset {
  border-style: none;
  padding: 5px;
  margin-left: -5px;
  margin-right: -5px;
  background: #f6f9fc;
  border-radius: 8px;
}

.example.example4 fieldset legend {
  float: left;
  width: 100%;
  text-align: center;
  font-size: 13px;
  color: #8898aa;
  padding: 3px 10px 7px;
}

.example.example4 .card-only {
  display: block;
}
.example.example4 .payment-request-available {
  display: none;
}

.example.example4 fieldset legend + * {
  clear: both;
}

.example.example4 input, .example.example4 button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border-style: none;
  color: #fff;
}

.example.example4 input:-webkit-autofill {
  transition: background-color 100000000s;
  -webkit-animation: 1ms void-animation-out;
}

.example.example4 #example4-card {
  padding: 10px;
  margin-bottom: 2px;
}

.example.example4 input {
  -webkit-animation: 1ms void-animation-out;
}

.example.example4 input::-webkit-input-placeholder {
  color: #9bacc8;
}

.example.example4 input::-moz-placeholder {
  color: #9bacc8;
}

.example.example4 input:-ms-input-placeholder {
  color: #9bacc8;
}

.example.example4 button {
  display: block;
  width: 100%;
  height: 37px;
  background-color: #d782d9;
  border-radius: 2px;
  color: #fff;
  cursor: pointer;
}

.example.example4 button:active {
  background-color: #b76ac4;
}

.example.example4 .error svg .base {
  fill: #e25950;
}

.example.example4 .error svg .glyph {
  fill: #f6f9fc;
}

.example.example4 .error .message {
  color: #e25950;
}

.example.example4 .success .icon .border {
  stroke: #ffc7ee;
}

.example.example4 .success .icon .checkmark {
  stroke: #d782d9;
}

.example.example4 .success .title {
  color: #32325d;
}

.example.example4 .success .message {
  color: #8898aa;
}

.example.example4 .success .reset path {
  fill: #d782d9;
}